.contact .user_input .contact_info {
  color: #494949;
}
.contact .user_input .contact_info h3.title {
  font-size: calc(26rem/16);
  letter-spacing: 1px;
}
.contact .user_input .contact_info .description {
  font-size: calc(12rem/16);
  margin-bottom: 80px;
}
.contact .user_input .contact_info .row .title {
  font-size: calc(14rem/16);
  font-weight: 700;
}
.contact .user_input .contact_info .row a {
  font-size: calc(12rem/16);
  color: #494949;
}
.contact .user_input .user_form .title {
  font-size: calc(16rem/16);
  color: #494949;
  font-weight: 600;
}
.contact .user_input .user_form .input-group input,
.contact .user_input .user_form .input-group textarea {
  border-radius: 20px;
}
.contact .user_input .user_form .send {
  background-color: #494949;
  border-radius: 25px;
  color: #ffffff;
  margin-top: 10px;
  font-weight: 300;
  font-size: calc(12rem/16);
}
.contact .user_input .user_form .send:hover {
  text-decoration: none;
}
.contact .map {
  height: 30vh;
}
.contact .map iframe {
  width: 100%;
  height: 100%;
}
@media (max-width: 767.98px) {
  .contact .user_input .contact_ways {
    margin-top: -30px;
    margin-bottom: 30px;
  }
  .contact .user_input .contact_ways > div {
    text-align: center;
  }
  .contact .user_input .user_form .title {
    text-align: center;
  }
  .contact .map {
    margin-bottom: 10px;
  }
}
.about main .who_we_are {
  color: #494949;
}
.about main .who_we_are .title {
  font-size: calc(24rem/16);
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  margin-bottom: 40px;
}
.about main .who_we_are .social {
  margin-top: 60px;
}
.about main .who_we_are .social .follow {
  font-weight: 600;
}
.about main .who_we_are .social .social_icon a {
  color: #494949;
}
.about main .who_we_are .social .social_icon a i {
  margin-right: 0.5rem;
}
.about main .team {
  color: #494949;
}
.about main .team .title {
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  font-size: calc(24rem/16);
  margin-bottom: calc(35rem/16);
}
.about main .team .person {
  margin-top: 26px;
}
.about main .team .person .avatar {
  padding-right: 20px;
  width: calc(280rem/16);
  height: calc(280rem/16);
}
.about main .team .person .avatar img {
  width: 100%;
  height: 100%;
}
.about main .team .words {
  margin-top: 26px;
}
.about main .team .block {
  width: calc(7rem/16);
  height: calc(31rem/16);
  background-color: #eee;
}
.about main .team .name {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  padding-right: 80px;
  margin-bottom: 0px;
  margin-left: 10px;
  font-weight: 600;
}
.about main .team .position {
  margin-left: 10px;
  font-size: 10px;
  color: #808080;
}
.about main .workspace .title {
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  font-size: calc(24rem/16);
  margin-bottom: calc(35rem/16);
}
.about main .workspace .brands_bar {
  position: relative;
}
.about main .workspace .brands_bar .workspace_bt_prev {
  padding: 15px;
  z-index: 2;
  position: absolute;
  top: 200px;
  left: 100px;
}
.about main .workspace .brands_bar .workspace_bt_next {
  padding: 15px;
  z-index: 2;
  position: absolute;
  top: 200px;
  right: 100px;
}
.about #footer .main_footer .subscribe .user_input input.user_email {
  background-color: transparent;
  border: 1px solid;
  border-right: none;
}
.about #footer .main_footer .subscribe .user_input button.sub_bt {
  background-color: transparent;
  border-left: none;
  color: #a0a0a0;
}
@media (max-width: 767.98px) {
  .about main .who_we_are .follow {
    text-align: center;
  }
  .about main .who_we_are .social_icon {
    text-align: center;
  }
  .about main .team .person .avatar {
    margin: 0 auto;
  }
  .about main .team .words {
    margin-left: 34px;
  }
  .about main .team .name {
    padding-right: 150px;
  }
  .about main .workspace .brands_bar {
    position: relative;
  }
  .about main .workspace .brands_bar .workspace_bt_prev {
    padding: 15px;
    z-index: 2;
    position: absolute;
    top: 148px;
    left: 40px;
  }
  .about main .workspace .brands_bar .workspace_bt_next {
    padding: 15px;
    z-index: 2;
    position: absolute;
    top: 148px;
    right: 40px;
  }
}
@media (max-width: 991.98px) and (min-width: 768px) {
  .about main .team .name {
    padding-right: 150px;
  }
  .about main .workspace .brands_bar {
    position: relative;
  }
  .about main .workspace .brands_bar .workspace_bt_prev {
    padding: 15px;
    z-index: 2;
    position: absolute;
    top: 144px;
    left: 40px;
  }
  .about main .workspace .brands_bar .workspace_bt_next {
    padding: 15px;
    z-index: 2;
    position: absolute;
    top: 144px;
    right: 40px;
  }
}
.index .control_bt button {
  background-color: #eeeeee;
  box-shadow: none;
}
.index .control_bt .fas {
  color: #e6e6e6;
  background-color: #ffffff;
  padding: 8px;
  border-radius: 50%;
}
.index .control_bt .owl_prev_bt {
  padding: 3px 1px 3px 4px;
  margin-left: -2px;
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
}
.index .control_bt .fas {
  padding: 8px 10px;
}
.index .control_bt .owl_next_bt {
  padding: 3px 4px 3px 1px;
  margin-right: -2px;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
}
.index .main_items .row.top {
  padding-bottom: 19px;
}
.index .main_items .new_collection .words {
  position: absolute;
  bottom: calc(79rem/16);
  left: 68px;
  color: #ffffff;
}
.index .main_items .new_collection .words .tag {
  letter-spacing: 3px;
  background-color: #535353;
  font-size: 0.8rem;
}
.index .main_items .new_collection .words .title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: -10px;
}
.index .main_items .new_collection .words .subtitle {
  font-size: 3rem;
  font-weight: 200;
  margin-bottom: -5px;
}
.index .main_items .new_collection .words .description {
  font-size: 0.5rem;
}
.index .main_items .new_collection .words .price {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  letter-spacing: 1px;
}
.index .main_items .middle_item {
  color: #ffffff;
  position: relative;
}
.index .main_items .middle_item .category {
  position: absolute;
  top: calc(29rem/16);
  left: calc(24rem/16);
  font-size: calc(14rem/16);
  letter-spacing: 2px;
  font-weight: 600;
}
.index .main_items .middle_item h3 {
  position: absolute;
  top: calc(71rem/16);
  left: calc(25rem/16);
  font-family: 'Montserrat', sans-serif;
  font-size: calc(24rem/16);
}
.index .main_items .middle_item .blue_circle_price {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(120rem/16);
  height: calc(120rem/16);
  right: calc(31rem/16);
  bottom: calc(130rem/16);
  background-color: #62c5de;
  border-radius: 50%;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  margin: auto 0;
}
.index .main_items .middle_item .blue_circle_price p {
  font-size: calc(20rem/16);
  line-height: 1;
  margin-top: calc(10rem/16);
  font-weight: 500;
  top: 1px;
}
.index .main_items .middle_item .blue_circle_price p span {
  font-size: calc(14rem/16);
  letter-spacing: 1px;
  color: #9cd8e8;
  text-decoration: line-through;
}
.index .main_items .middle_item .shopnow_angle {
  position: absolute;
  left: calc(32rem/16);
  bottom: calc(10rem/16);
  font-family: 'Montserrat', sans-serif;
}
.index .main_items .middle_item .shopnow_angle a {
  color: #ffffff;
  font-size: 0.8rem;
  letter-spacing: calc(0.5rem/16);
}
.index .main_items .middle_item .shopnow_angle i {
  padding: 6px 8px;
  margin: 10px;
  border: solid #ffffff 2px;
  border-radius: 50%;
}
.index .main_items .bag {
  margin-bottom: calc(19rem/16);
  position: relative;
}
.index .main_items .bag .top_words {
  position: absolute;
  top: calc(14rem/16);
  right: calc(10rem/16);
}
.index .main_items .bag .top_words .title {
  color: #939393;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  font-size: calc(14rem/16);
  letter-spacing: 2px;
  text-align: right;
  line-height: 2;
}
.index .main_items .bag .top_words .star {
  color: #c8a760;
  font-size: calc(13rem/16);
  text-align: right;
}
.index .main_items .bag .top_words .star .far {
  color: #ededed;
}
.index .main_items .bag .bottom_words {
  position: absolute;
  bottom: calc(25rem/16);
  right: calc(30rem/16);
  font-family: 'Montserrat', sans-serif;
}
.index .main_items .bag .bottom_words .price {
  color: #991015;
  font-size: calc(20rem/16);
  margin-bottom: 0;
  text-align: center;
}
.index .main_items .bag .bottom_words .shopnow {
  font-size: calc(10rem/16);
  color: #ffffff;
  background-color: #2e2d32;
  padding: 3px;
}
.index .main_items .chair {
  font-family: 'Montserrat', sans-serif;
  position: relative;
}
.index .main_items .chair .description {
  font-size: calc(14rem/16);
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1.5;
  color: #2c3e66;
  position: absolute;
  top: calc(20rem/16);
  left: calc(20rem/16);
}
.index .main_items .chair .bottom_words {
  position: absolute;
  bottom: calc(64rem/16);
  left: calc(20rem/16);
  line-height: 1;
}
.index .main_items .chair .bottom_words > div {
  text-align: left;
}
.index .main_items .chair .bottom_words .star {
  color: #c8a760;
  font-size: calc(10rem/16);
}
.index .main_items .chair .bottom_words .star .far {
  color: #ededed;
}
.index .main_items .chair .bottom_words .price {
  color: #2c3e65;
  font-size: calc(20rem/16);
  margin-bottom: 0;
}
.index .main_items .chair .bottom_words .price span {
  text-decoration-line: line-through;
  font-size: calc(10rem/16);
  color: #b3b3b3;
}
.index .main_items .chair .shopnow_angle {
  position: absolute;
  bottom: calc(20rem/16);
  left: calc(20rem/16);
}
.index .main_items .chair .shopnow_angle a {
  color: #2c3e65;
  font-size: calc(10rem/16);
  font-weight: 600;
}
.index .main_items .chair .shopnow_angle a i {
  padding: 6px 8px;
  margin: calc(5rem/16);
  border: solid #2c3e65 2px;
  border-radius: 50%;
}
.index .main_items .row.bottom {
  font-family: 'Montserrat', sans-serif;
  align-content: stretch;
}
.index .main_items .row.bottom .top {
  margin-bottom: calc(22rem/16);
  position: relative;
  color: #ffffff;
  font-size: calc(14rem/16);
}
.index .main_items .row.bottom .top .words {
  text-align: right;
  position: absolute;
  top: calc(30rem/16);
  right: calc(40rem/16);
  line-height: 0.5;
}
.index .main_items .row.bottom .top .words .title {
  font-size: calc(18rem/16);
}
.index .main_items .row.bottom .top .words .category {
  font-size: calc(8rem/16);
}
.index .main_items .row.bottom .top .shopnow_angle {
  position: absolute;
  right: calc(30rem/16);
  bottom: calc(10rem/16);
  font-family: 'Montserrat', sans-serif;
}
.index .main_items .row.bottom .top .shopnow_angle a {
  color: #ffffff;
  font-size: 0.8rem;
  letter-spacing: calc(0.5rem/16);
}
.index .main_items .row.bottom .top .shopnow_angle i {
  padding: 6px 8px;
  margin: 10px;
  border: solid #ffffff 2px;
  border-radius: 50%;
}
.index .main_items .row.bottom .bottom {
  position: relative;
}
.index .main_items .row.bottom .bottom .words {
  text-align: right;
  position: absolute;
  top: calc(30rem/16);
  right: calc(40rem/16);
  line-height: 0.5;
}
.index .main_items .row.bottom .bottom .words .title {
  font-size: calc(18rem/16);
  color: #535353;
}
.index .main_items .row.bottom .bottom .words .category {
  font-size: calc(8rem/16);
  color: #dbdbdb;
}
.index .main_items .row.bottom .bottom .shopnow_angle {
  position: absolute;
  right: calc(30rem/16);
  bottom: calc(10rem/16);
  font-family: 'Montserrat', sans-serif;
}
.index .main_items .row.bottom .bottom .shopnow_angle a {
  color: #979797;
  font-size: 0.8rem;
  letter-spacing: calc(0.5rem/16);
}
.index .main_items .row.bottom .bottom .shopnow_angle i {
  padding: 6px 8px;
  margin: 10px;
  border: solid #979797 2px;
  border-radius: 50%;
}
.index .main_items .row.bottom .big_item {
  color: #535353;
  font-family: 'Source Sans Pro', sans-serif;
}
.index .main_items .row.bottom .big_item .carousel-caption {
  text-align: left;
  top: calc(50rem/16);
  left: calc(40rem/16);
  line-height: 1;
}
.index .main_items .row.bottom .big_item .carousel-caption .title {
  font-size: calc(50rem/16);
}
.index .main_items .row.bottom .big_item .carousel-caption .tag {
  font-size: calc(8rem/16);
}
.index .feature_bar {
  padding-bottom: calc(60rem/16);
}
.index .feature_bar .control_bar {
  padding-top: calc(42rem/16);
  padding-bottom: calc(20rem/16);
}
.index .feature_bar .control_bar .feature {
  color: #838182;
  padding-left: 0;
}
.index .feature_bar .control_bar .feature::after {
  content: "|";
  margin-left: 20px;
}
.index .feature_bar .control_bar .latest {
  color: #838182;
}
.index .feature_bar .control_bar .latest::after {
  content: "|";
  margin-left: 20px;
}
.index .feature_bar .control_bar .nav-link {
  color: #838182;
  font-weight: 600;
}
.index .feature_bar .moving_products {
  position: relative;
  padding-bottom: calc(73rem/16);
}
.index .feature_bar .moving_products .words {
  text-align: left;
}
.index .feature_bar .moving_products .words .star {
  text-align: left;
  color: #c8a760;
  font-size: calc(13rem/16);
}
.index .feature_bar .moving_products .words .star .far {
  color: #ededed;
}
.index .feature_bar .moving_products .words .title {
  font-size: calc(10rem/16);
  color: #808080;
}
.index .feature_bar .moving_products .words .price {
  color: #2c3e65;
  font-size: calc(12rem/16);
  line-height: 1;
  font-weight: 700;
}
.index .feature_bar .moving_products .words .discount {
  position: absolute;
  top: calc(45rem/16);
  left: calc(0rem/16);
  background-color: #b2cc29;
  padding: 0 5px;
}
.index .feature_bar .still_products {
  margin-bottom: calc(22rem/16);
  position: relative;
  color: #2c3e65;
  font-size: calc(14rem/16);
}
.index .feature_bar .still_products .words {
  text-align: left;
  position: absolute;
  top: calc(30rem/16);
  left: calc(40rem/16);
  line-height: 0.5;
}
.index .feature_bar .still_products .words .title {
  font-size: calc(18rem/16);
}
.index .feature_bar .still_products .words .description {
  font-size: calc(8rem/16);
}
.index .feature_bar .still_products .shopnow_angle {
  position: absolute;
  left: calc(30rem/16);
  bottom: calc(10rem/16);
  font-family: 'Montserrat', sans-serif;
}
.index .feature_bar .still_products .shopnow_angle a {
  color: #979797;
  font-size: calc(4rem/16);
  letter-spacing: calc(0.5rem/16);
}
.index .feature_bar .still_products .shopnow_angle i {
  padding: 6px 8px;
  margin: 10px;
  border: solid #979797 2px;
  border-radius: 50%;
}
.index .best_seller {
  transition: all 0.5s ease;
  position: relative;
  padding-bottom: calc(30rem/16);
}
.index .best_seller .control_bar {
  padding-bottom: calc(16rem/16);
}
.index .best_seller .control_bar .title {
  font-family: 'Montserrat', sans-serif;
  font-size: calc(16rem/16);
  font-weight: 700;
}
.index .best_seller .cover {
  opacity: 0;
  background-color: #ffffff;
  position: absolute;
  transition: all 0.5s ease;
  font-size: calc(14rem/16);
  padding: 10px 20px;
  left: 20px;
  bottom: 12px;
}
.index .best_seller .cover .nav-link {
  padding: 0;
}
.index .best_seller .cover a {
  color: #979797;
}
.index .best_seller .cover a .fa-shopping-bag:after {
  content: "|";
  padding: 0 20px;
}
.index .best_seller .cover a .fa-heart:after {
  content: "|";
  padding: 10px 20px;
}
.index .best_seller .product {
  position: relative;
  transition: all 0.5s ease;
}
.index .best_seller .product img {
  transition: all 0.5s ease;
}
.index .best_seller .product:hover img {
  opacity: 0.7;
}
.index .best_seller .product:hover .cover {
  opacity: 1;
}
.index .best_seller .product .new {
  font-size: calc(10rem/16);
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  background-color: #000000;
  position: absolute;
  top: calc(45rem/16);
  left: calc(0rem/16);
  padding: 3px 5px;
}
.index .best_seller .product .star {
  position: absolute;
  bottom: calc(10rem/16);
  left: calc(12rem/16);
  text-align: left;
  color: #c8a760;
  font-size: calc(12rem/16);
}
.index .best_seller .product .star .far {
  color: #ededed;
}
.index .best_seller .best_4 {
  position: relative;
}
.index .best_seller .best_4 .discount {
  position: absolute;
  font-size: calc(10rem/16);
  top: calc(45rem/16);
  left: 0px;
  background-color: #b2cc29;
  padding: 0 5px;
}
.index .best_seller .best_4 .new {
  font-size: calc(10rem/16);
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  background-color: #000000;
  position: absolute;
  top: calc(66rem/16);
  left: calc(0rem/16);
  padding: 3px 5px;
}
.index .best_seller .words {
  text-align: left;
}
.index .best_seller .words .title {
  font-weight: 600;
  font-size: calc(10rem/16);
  color: #808080;
  margin-bottom: 0;
  margin-top: 10px;
}
.index .best_seller .words .price {
  color: #2c3e65;
  font-size: calc(12rem/16);
  line-height: 1;
  font-weight: 700;
}
@media (max-width: 767.98px) {
  .index .main_items .row > div {
    margin-bottom: 15px;
  }
  .index .feature_bar {
    padding-bottom: 15px;
  }
  .index .feature_bar .control_bar a {
    font-size: calc(12rem/16);
  }
  .index .still_products .row > div {
    margin-bottom: 15px;
  }
  .index .best_seller .control_bar {
    padding-bottom: 30px;
  }
  .index .best_seller .control_bar .title {
    margin-top: 10px;
  }
  .index .best_seller .owl_best .cover {
    padding: 20px 60px;
    left: 40px;
    font-size: calc(16rem/16);
  }
}
@media (max-width: 991.98px) and (min-width: 768px) {
  .index .main_items .row > div {
    margin-bottom: 15px;
  }
  .index .main_items .bag {
    margin-bottom: calc(35rem/16);
  }
  .index .feature_bar {
    padding-bottom: 15px;
  }
  .index .feature_bar .control_bar a {
    font-size: calc(12rem/16);
  }
  .index .still_products .row > div {
    margin-bottom: 15px;
  }
  .index .best_seller .control_bar {
    padding-bottom: 30px;
  }
  .index .best_seller .control_bar .title {
    margin-top: 10px;
  }
}
.blog-postlist {
  color: #494949;
}
.blog-postlist main {
  margin-bottom: 50px;
}
.blog-postlist main article .date {
  float: left;
  width: 78px;
  height: 78px;
  background-color: #919191;
  color: #ffffff;
  text-align: center;
}
.blog-postlist main article .date .date_words {
  margin: auto 0;
  padding-top: 4px;
}
.blog-postlist main article .date .day {
  font-size: 28px;
  margin-bottom: -6px;
}
.blog-postlist main article .date .month {
  font-size: 16px;
  margin-bottom: 0;
}
.blog-postlist main article .blog_meta {
  max-width: 600px;
  margin-left: auto;
}
.blog-postlist main article .blog_meta .title {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 700;
}
.blog-postlist main article .blog_meta .info {
  color: #919191;
  font-style: italic;
}
.blog-postlist main article .blog_meta .readmore {
  color: #494949;
  font-weight: 700;
}
.blog-postlist main .articles .prev_and_next .button {
  background-color: transparent;
  border: solid 3px black;
  font-weight: 600;
  padding: 0 12px;
  cursor: pointer;
}
.blog-postlist main .sidebar hr {
  margin: 0;
  margin-left: auto;
  width: 75px;
  border-top: 4px solid #494949;
}
.blog-postlist main .sidebar .title {
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
}
.blog-postlist main .sidebar .categories .category {
  color: #727272;
  font-weight: 300;
}
.blog-postlist main .sidebar .popular_post .description {
  font-weight: 300;
  margin-bottom: 0;
}
.blog-postlist main .sidebar .popular_post .date {
  font-style: italic;
  color: #808080;
}
.blog-postlist main .sidebar .tag {
  font-weight: 300;
  width: 200px;
  margin-left: auto;
}
@media (max-width: 767.98px) {
  .blog-postlist main .articles .blog_meta {
    max-width: 270px;
  }
  .blog-postlist main .sidebar {
    padding: 60px 0;
    text-align: center !important;
  }
  .blog-postlist main .sidebar hr {
    margin: 0 auto !important;
  }
  .blog-postlist main .sidebar .popular_post {
    margin-bottom: 30px;
  }
  .blog-postlist main .sidebar .popular_post hr {
    margin-bottom: 30px !important;
  }
  .blog-postlist main .sidebar .post {
    text-align: right;
  }
  .blog-postlist main .sidebar .post .row {
    justify-content: center;
  }
  .blog-postlist main .sidebar .tag {
    margin: 0 auto;
  }
  .blog-postlist footer .contact {
    text-align: center !important;
  }
}
@media (max-width: 991.98px) and (min-width: 768px) {
  .blog-postlist .sidebar {
    padding: 60px 0;
    text-align: center !important;
  }
  .blog-postlist .sidebar hr {
    margin: 0 auto !important;
  }
  .blog-postlist .sidebar .popular_post {
    margin-bottom: 30px;
  }
  .blog-postlist .sidebar .popular_post hr {
    margin-bottom: 30px !important;
  }
  .blog-postlist .sidebar .post {
    text-align: right;
  }
  .blog-postlist .sidebar .post .row {
    justify-content: center;
  }
  .blog-postlist .sidebar .tag {
    margin: 0 auto;
  }
}
body {
  font-family: 'Source Sans Pro', sans-serif;
}
body img {
  width: 100%;
  height: auto;
}
body section {
  margin-bottom: 60px;
}
body button,
body input {
  outline: none !important;
  box-shadow: none !important;
}
a:hover {
  text-decoration-line: none;
}
.short_info {
  font-size: calc(14rem/16);
  background-color: #282828;
}
.short_info .nav-item {
  color: #a1a1a1;
  transition: all 0.5s ease;
}
.short_info .nav-item a {
  float: right;
  color: #a1a1a1;
}
.short_info .nav-item:hover {
  background-color: #3f3e43;
}
.header nav {
  font-family: 'Montserrat', sans-serif;
}
.header nav li {
  margin: 1.5rem 0.1rem;
}
.header nav .nav-item {
  font-size: 0.9rem;
}
.header nav .nav-item .nav-link {
  font-weight: 500;
  color: #494949 !important;
  transition: all 0.4s ease;
}
.header nav .nav-item .nav-link:hover {
  color: #dbdbdb !important;
}
.header nav .search i {
  font-size: 1.5rem;
}
.header nav .shopping_cart i {
  font-size: 1.5rem;
  margin-right: 1rem;
}
.header.full_width .phone a {
  color: #494949;
  font-family: 'Montserrat', sans-serif;
  font-size: calc(12rem/16);
}
.cover {
  background-image: url(../pics/contact_pad.png);
  background-repeat: cover;
}
.cover .title {
  font-weight: 600;
  letter-spacing: 1px;
  font-family: 'Montserrat', sans-serif;
  color: #494949;
  padding-top: 50px;
  margin-bottom: -6px;
}
.cover .breadcrumb {
  justify-content: center;
  background-color: transparent;
  padding-bottom: 50px;
  margin: 0 auto;
}
.cover .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  content: ">";
}
.cover .breadcrumb a {
  color: #717171;
  font-size: calc(12rem/16);
}
.cover.grey_pad {
  background-color: #f4f4f4;
  background-image: none;
}
.brands {
  padding: 40px 0 80px 0;
}
.brands .title {
  font-family: 'Montserrat', sans-serif;
  font-size: calc(20rem/16);
  padding-bottom: calc(60rem/16);
}
.brands .title small {
  color: #dbdbdb;
  font-size: calc(10rem/16);
  letter-spacing: 3px;
}
.brands .owl_brands img {
  width: 60%;
  margin: 0 auto;
}
footer .container-fluid {
  background-color: #f6f6f6;
}
footer .container-fluid .main_footer {
  padding-top: calc(20rem/16);
  padding-bottom: calc(60rem/16);
}
footer .container-fluid .main_footer .guarantee {
  font-family: 'Montserrat', sans-serif;
  padding: calc(50rem/16) 0;
}
footer .container-fluid .main_footer .guarantee .col-md-3 {
  display: flex;
  justify-content: center;
}
footer .container-fluid .main_footer .guarantee i {
  margin-right: calc(20rem/16);
  margin-top: calc(6rem/16);
  font-size: calc(36rem/16);
  color: #808080;
}
footer .container-fluid .main_footer .guarantee .words {
  padding-right: 10px;
}
footer .container-fluid .main_footer .guarantee .words .title {
  font-size: calc(14rem/16);
  letter-spacing: 1px;
}
footer .container-fluid .main_footer .guarantee .words .description {
  font-family: 'Oxygen', sans-serif;
  color: #808080;
  font-size: calc(10rem/16);
}
footer .container-fluid .main_footer .footer_info {
  color: #a0a0a0;
}
footer .container-fluid .main_footer .footer_info a {
  color: #a0a0a0;
}
footer .container-fluid .main_footer .footer_info .contact {
  font-family: 'Open Sans', sans-serif;
}
footer .container-fluid .main_footer .footer_info .contact .logo {
  width: 102px;
  height: 29px;
  margin-bottom: calc(28rem/16);
}
footer .container-fluid .main_footer .footer_info .contact .description {
  font-size: calc(12rem/16);
}
footer .container-fluid .main_footer .footer_info .contact .address {
  font-size: calc(10rem/16);
  margin-bottom: calc(20rem/16);
}
footer .container-fluid .main_footer .footer_info .contact .address .fas_div {
  padding: 4px 12px 2px 0px;
}
footer .container-fluid .main_footer .footer_info .contact .address span {
  line-height: 1;
}
footer .container-fluid .main_footer .footer_info .contact .phone {
  font-size: calc(12rem/16);
}
footer .container-fluid .main_footer .footer_info .contact .phone i {
  padding-right: 6px;
}
footer .container-fluid .main_footer .footer_info .contact .mail {
  font-size: calc(12rem/16);
}
footer .container-fluid .main_footer .footer_info .contact .mail i {
  padding-right: 6px;
}
footer .container-fluid .main_footer .footer_info .site_link {
  font-family: 'Open Sans', sans-serif;
}
footer .container-fluid .main_footer .footer_info .site_link .title {
  font-size: calc(16rem/16);
  font-weight: 600;
  color: #575757;
  margin-bottom: calc(15rem/16);
}
footer .container-fluid .main_footer .footer_info .site_link .list-group-item {
  font-size: calc(12rem/16);
  background-color: transparent;
  border: 0px;
  padding: 0.3rem 1.25rem;
}
footer .container-fluid .main_footer .footer_info .subscribe {
  text-align: center;
}
footer .container-fluid .main_footer .footer_info .subscribe .title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: calc(14rem/16);
  color: #575757;
}
footer .container-fluid .main_footer .footer_info .subscribe .user_input {
  margin-bottom: calc(30rem/16);
}
footer .container-fluid .main_footer .footer_info .subscribe .user_input input ::placeholder {
  font-size: calc(2rem/16) !important;
  color: red !important;
}
footer .container-fluid .main_footer .footer_info .subscribe .user_input .user_email {
  border-top-left-radius: 200px;
  border-bottom-left-radius: 200px;
  border: none;
}
footer .container-fluid .main_footer .footer_info .subscribe .user_input .sub_bt {
  background-color: #696969;
  border-top-right-radius: 200px;
  border-bottom-right-radius: 200px;
  color: #ffffff;
}
footer .container-fluid .main_footer .footer_info .subscribe .follow {
  color: #575757;
  font-weight: 400;
}
footer .container-fluid .main_footer .footer_info .subscribe .social_icon i {
  margin-right: 0.5rem;
}
footer .container-fluid .main_footer .footer_info .subscribe .social_icon .whatsapp {
  margin: 0;
  font-weight: 600;
}
footer .all_rights {
  margin: calc(20rem/16) 0;
}
footer .all_rights .words {
  font-size: calc(14rem/16);
}
footer .all_rights .words .logo {
  font-weight: 700;
}
footer.simple {
  padding-bottom: 100px;
}
footer.simple .container-fluid {
  background-color: transparent;
}
footer.simple .container-fluid .contact {
  text-align: right;
}
footer.simple .all_rights {
  text-align: center;
}
footer.simple .all_rights img {
  width: 140px;
  height: 20px;
}
footer.simple .all_rights p {
  color: #a0a0a0;
  font-size: calc(12rem/16);
}
footer.simple.grey_pad {
  padding-bottom: 100px;
}
footer.simple.grey_pad .container-fluid {
  background-color: #f4f4f4;
  padding-top: 50px;
}
footer.simple.grey_pad .container-fluid .contact {
  text-align: right;
}
footer.simple.grey_pad .container-big {
  background-color: #f4f4f4;
  max-width: 1600px;
  padding-top: 50px;
}
footer.simple.grey_pad .all_rights {
  text-align: center;
}
footer.simple.grey_pad .all_rights img {
  width: 140px;
  height: 20px;
}
footer.simple.grey_pad .all_rights p {
  color: #a0a0a0;
  font-size: calc(12rem/16);
}
@media (max-width: 767.98px) {
  .short_info .info_container {
    max-width: 328px;
  }
  footer .guarantee .col-md-3 {
    padding-bottom: 20px;
  }
  footer .main_footer .row > div {
    padding: 20px 0;
  }
  footer .footer_info {
    text-align: center;
  }
  footer .footer_info .site_link {
    margin-bottom: calc(16rem/16);
  }
  footer .all_rights {
    text-align: center;
  }
  footer .all_rights .visa {
    display: flex;
    justify-content: center;
  }
  footer .all_rights .visa img {
    width: 70%;
  }
  footer.simple .container-fluid .row > div {
    padding: 20px 0;
  }
  footer.simple .container-fluid .contact {
    text-align: center;
  }
}
@media (min-width: 992px) {
  .header nav .shopping_cart .word {
    float: right;
  }
}
/*# sourceMappingURL=main.css.map */