.contact .user_input .contact_info {
  color: #494949;
}
.contact .user_input .contact_info h3.title {
  font-size: calc(26rem/16);
  letter-spacing: 1px;
}
.contact .user_input .contact_info .description {
  font-size: calc(12rem/16);
  margin-bottom: 80px;
}
.contact .user_input .contact_info .row .title {
  font-size: calc(14rem/16);
  font-weight: 700;
}
.contact .user_input .contact_info .row a {
  font-size: calc(12rem/16);
  color: #494949;
}
.contact .user_input .user_form .title {
  font-size: calc(16rem/16);
  color: #494949;
  font-weight: 600;
}
.contact .user_input .user_form .input-group input,
.contact .user_input .user_form .input-group textarea {
  border-radius: 20px;
}
.contact .user_input .user_form .send {
  background-color: #494949;
  color: #ffffff;
  margin-top: 10px;
  font-weight: 300;
  font-size: calc(12rem/16);
}
.contact .user_input .user_form .send:hover {
  text-decoration: none;
}
.contact .map {
  height: 30vh;
}
.contact .map iframe {
  width: 100%;
  height: 100%;
}
@media (max-width: 767.98px) {
  .contact .user_input .contact_ways {
    margin-top: -30px;
    margin-bottom: 30px;
  }
  .contact .user_input .contact_ways > div {
    text-align: center;
  }
  .contact .user_input .user_form .title {
    text-align: center;
  }
  .contact .map {
    margin-bottom: 10px;
  }
}
.about main .who_we_are {
  color: #494949;
}
.about main .who_we_are .title {
  font-size: calc(24rem/16);
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  margin-bottom: 40px;
}
.about main .who_we_are .social {
  margin-top: 60px;
}
.about main .who_we_are .social .follow {
  font-weight: 600;
}
.about main .who_we_are .social .social_icon a {
  color: #494949;
}
.about main .who_we_are .social .social_icon a i {
  margin-right: 0.5rem;
}
.about main .team {
  color: #494949;
}
.about main .team .title {
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  font-size: calc(24rem/16);
  margin-bottom: calc(35rem/16);
}
.about main .team .person {
  margin-top: 26px;
}
.about main .team .person .avatar img {
  width: 100%;
  height: 100%;
}
.about main .team .block {
  width: calc(7rem/16);
  height: calc(31rem/16);
  background-color: #eee;
}
.about main .team .words {
  margin-left: 10px;
}
.about main .team .name {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 600;
}
.about main .team .position {
  font-size: 10px;
  color: #808080;
}
.about main .workspace .title {
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  font-size: calc(24rem/16);
  margin-bottom: calc(35rem/16);
}
.about main .workspace .brands_bar {
  position: relative;
}
.about main .workspace .brands_bar .workspace_bt_prev {
  padding: 15px;
  z-index: 2;
  position: absolute;
  top: 40%;
  left: 50px;
}
.about main .workspace .brands_bar .workspace_bt_next {
  padding: 15px;
  z-index: 2;
  position: absolute;
  top: 40%;
  right: 50px;
}
@media (max-width: 767.98px) {
  .about main .who_we_are .follow {
    text-align: center;
  }
  .about main .who_we_are .social_icon {
    text-align: center;
  }
  .about main .team .person .avatar {
    margin: 0 auto;
  }
  .about main .workspace .brands_bar {
    position: relative;
  }
  .about main .workspace .brands_bar .workspace_bt_prev {
    padding: 15px;
    z-index: 2;
    position: absolute;
    top: 40%;
    left: 10px;
  }
  .about main .workspace .brands_bar .workspace_bt_next {
    padding: 15px;
    z-index: 2;
    position: absolute;
    top: 40%;
    right: 10px;
  }
}
@media (max-width: 991.98px) and (min-width: 768px) {
  .about main .workspace .brands_bar {
    position: relative;
  }
  .about main .workspace .brands_bar .workspace_bt_prev {
    padding: 15px;
    z-index: 2;
    position: absolute;
    top: 40%;
    left: 10px;
  }
  .about main .workspace .brands_bar .workspace_bt_next {
    padding: 15px;
    z-index: 2;
    position: absolute;
    top: 40%;
    right: 10px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .about main .team .person .avatar {
    margin: 0 auto;
  }
}
.index img {
  height: 100%;
}
.index #subModal .modal-dialog {
  max-width: 750px;
}
.index #subModal .newsletter_content {
  background-image: url(../pics/index/modal_background.png);
}
.index #subModal .modal-body {
  padding-left: 50px;
}
.index #subModal .modal-body .title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 10px;
  margin-top: -10px;
}
.index #subModal .modal-body .description {
  color: #979797;
  margin-bottom: 40px;
}
.index #subModal .modal-body .description span {
  color: #f53434;
  font-weight: 600;
}
.index #subModal .modal-body .input-group {
  width: 40%;
}
.index #subModal .modal-body .input_email {
  border: none;
  background-color: #f4f4f4;
  border-radius: 25px;
}
.index #subModal .modal-body .not_again {
  margin-top: 60px;
  color: #979797;
}
.index .shopnow_angle {
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  color: #979797;
}
.index .shopnow_angle a {
  color: #979797;
  font-size: 0.8rem;
  letter-spacing: calc(0.5rem/16);
}
.index .shopnow_angle i {
  padding: 6px 8px;
  margin: 10px;
  border: solid #ffffff 2px;
  border-radius: 50%;
}
.index .control_bt button {
  background-color: #eeeeee;
  box-shadow: none;
}
.index .control_bt .cbt {
  color: #8B8182;
  background-color: #ffffff;
  border-radius: 50%;
}
.index .control_bt .left {
  padding: 5px 3px 5px 3px;
}
.index .control_bt .right {
  padding: 5px 3px 5px 3px;
}
.index .control_bt .owl_prev_bt {
  padding: 6px 0px 6px 4px;
  margin-left: -2px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.index .control_bt .owl_next_bt {
  padding: 6px 3px 6px 3px;
  margin-right: -2px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.index .main_items .row.top {
  padding-bottom: 19px;
}
.index .main_items .new_collection .words {
  position: absolute;
  bottom: calc(79rem/16);
  left: 68px;
  color: #ffffff;
}
.index .main_items .new_collection .words .tag {
  letter-spacing: 3px;
  background-color: #535353;
  font-size: 0.8rem;
}
.index .main_items .new_collection .words .title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: -10px;
}
.index .main_items .new_collection .words .subtitle {
  font-size: 3rem;
  font-weight: 200;
  margin-bottom: -5px;
}
.index .main_items .new_collection .words .description {
  font-size: 0.5rem;
}
.index .main_items .new_collection .words .price a {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  letter-spacing: 1px;
  color: #ffffff;
}
.index .main_items .middle_item {
  color: #ffffff;
  position: relative;
}
.index .main_items .middle_item .category {
  position: absolute;
  top: calc(29rem/16);
  left: calc(24rem/16);
  font-size: calc(14rem/16);
  letter-spacing: 2px;
  font-weight: 600;
}
.index .main_items .middle_item h3 {
  position: absolute;
  top: calc(71rem/16);
  left: calc(25rem/16);
  font-family: 'Montserrat', sans-serif;
  font-size: calc(24rem/16);
}
.index .main_items .middle_item .blue_circle_price {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(120rem/16);
  height: calc(120rem/16);
  right: calc(31rem/16);
  bottom: calc(130rem/16);
  background-color: #62c5de;
  border-radius: 50%;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  margin: auto 0;
}
.index .main_items .middle_item .blue_circle_price p {
  font-size: calc(20rem/16);
  line-height: 1;
  margin-top: calc(10rem/16);
  font-weight: 500;
  top: 1px;
}
.index .main_items .middle_item .blue_circle_price p span {
  font-size: calc(14rem/16);
  letter-spacing: 1px;
  color: #9cd8e8;
  text-decoration: line-through;
}
.index .main_items .middle_item .shopnow_angle {
  left: calc(32rem/16);
  bottom: calc(10rem/16);
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
}
.index .main_items .middle_item .shopnow_angle a {
  color: #ffffff;
}
.index .main_items .right_item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.index .main_items .bag {
  position: relative;
}
.index .main_items .bag .top_words {
  position: absolute;
  top: calc(14rem/16);
  right: calc(10rem/16);
}
.index .main_items .bag .top_words .title {
  color: #939393;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  font-size: calc(14rem/16);
  letter-spacing: 2px;
  text-align: right;
  line-height: 2;
}
.index .main_items .bag .top_words .star {
  color: #c8a760;
  font-size: calc(13rem/16);
  text-align: right;
}
.index .main_items .bag .top_words .star .far {
  color: #ededed;
}
.index .main_items .bag .bottom_words {
  position: absolute;
  bottom: calc(25rem/16);
  right: calc(30rem/16);
  font-family: 'Montserrat', sans-serif;
}
.index .main_items .bag .bottom_words .price {
  color: #991015;
  font-size: calc(20rem/16);
  margin-bottom: 0;
  text-align: center;
}
.index .main_items .bag .bottom_words .shopnow {
  font-size: calc(10rem/16);
  color: #ffffff;
  background-color: #2e2d32;
  padding: 3px;
}
.index .main_items .chair {
  font-family: 'Montserrat', sans-serif;
  position: relative;
}
.index .main_items .chair .description {
  font-size: calc(14rem/16);
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1.5;
  color: #2c3e66;
  position: absolute;
  top: calc(20rem/16);
  left: calc(20rem/16);
}
.index .main_items .chair .bottom_words {
  position: absolute;
  bottom: calc(64rem/16);
  left: calc(20rem/16);
  line-height: 1;
}
.index .main_items .chair .bottom_words > div {
  text-align: left;
}
.index .main_items .chair .bottom_words .star {
  color: #c8a760;
  font-size: calc(10rem/16);
}
.index .main_items .chair .bottom_words .star .far {
  color: #ededed;
}
.index .main_items .chair .bottom_words .price {
  color: #2c3e65;
  font-size: calc(20rem/16);
  margin-bottom: 0;
}
.index .main_items .chair .bottom_words .price span {
  text-decoration-line: line-through;
  font-size: calc(10rem/16);
  color: #b3b3b3;
}
.index .main_items .chair .shopnow_angle {
  color: #2c3e65;
  bottom: 20px;
  left: 20px;
}
.index .main_items .chair .shopnow_angle a {
  color: #2c3e65;
  font-weight: 700;
}
.index .main_items .chair .shopnow_angle i {
  border-color: #2c3e65;
}
.index .main_items .row.bottom {
  font-family: 'Montserrat', sans-serif;
  align-content: stretch;
}
.index .main_items .row.bottom .left_item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.index .main_items .row.bottom .top {
  margin-bottom: calc(22rem/16);
  position: relative;
  color: #ffffff;
  font-size: calc(14rem/16);
}
.index .main_items .row.bottom .top .words {
  text-align: right;
  position: absolute;
  top: calc(30rem/16);
  right: calc(40rem/16);
  line-height: 0.5;
}
.index .main_items .row.bottom .top .words .title {
  font-size: calc(18rem/16);
}
.index .main_items .row.bottom .top .words .category {
  font-size: calc(8rem/16);
}
.index .main_items .row.bottom .top .shopnow_angle {
  right: 30px;
  bottom: 20px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
}
.index .main_items .row.bottom .top .shopnow_angle a {
  color: #ffffff;
}
.index .main_items .row.bottom .bottom {
  position: relative;
}
.index .main_items .row.bottom .bottom .words {
  text-align: right;
  position: absolute;
  top: calc(30rem/16);
  right: calc(40rem/16);
  line-height: 0.5;
}
.index .main_items .row.bottom .bottom .words .title {
  font-size: calc(18rem/16);
  color: #535353;
}
.index .main_items .row.bottom .bottom .words .category {
  font-size: calc(8rem/16);
  color: #dbdbdb;
}
.index .main_items .row.bottom .bottom .shopnow_angle {
  right: 30px;
  bottom: 10px;
  color: #979797;
}
.index .main_items .row.bottom .bottom .shopnow_angle a {
  color: #979797;
}
.index .main_items .row.bottom .bottom .shopnow_angle i {
  border: solid #979797 2px;
}
.index .main_items .row.bottom .big_item {
  font-family: 'Source Sans Pro', sans-serif;
}
.index .main_items .row.bottom .big_item .carousel-caption {
  text-align: left;
  top: calc(50rem/16);
  left: calc(40rem/16);
  line-height: 1;
  color: #535353;
}
.index .main_items .row.bottom .big_item .carousel-caption .title {
  font-size: 50px;
}
.index .main_items .row.bottom .big_item .carousel-caption .tag {
  font-size: 50px;
}
.index .feature_bar {
  padding-bottom: calc(60rem/16);
}
.index .feature_bar .control_bar {
  padding-top: calc(42rem/16);
  padding-bottom: calc(20rem/16);
}
.index .feature_bar .control_bar .feature {
  color: #838182;
  padding-left: 0;
}
.index .feature_bar .control_bar .feature::after {
  content: "|";
  margin-left: 20px;
}
.index .feature_bar .control_bar .latest {
  color: #838182;
}
.index .feature_bar .control_bar .latest::after {
  content: "|";
  margin-left: 20px;
}
.index .feature_bar .control_bar .nav-link {
  color: #838182;
  font-weight: 600;
}
.index .feature_bar .still_products {
  margin-bottom: calc(22rem/16);
  position: relative;
  color: #2c3e65;
  font-size: calc(14rem/16);
}
.index .feature_bar .still_products .words {
  text-align: left;
  position: absolute;
  top: calc(30rem/16);
  left: calc(40rem/16);
  line-height: 0.5;
}
.index .feature_bar .still_products .words .title {
  font-size: calc(18rem/16);
}
.index .feature_bar .still_products .words .description {
  font-size: calc(8rem/16);
}
.index .feature_bar .still_products .shopnow_angle {
  left: 43px;
  bottom: 10px;
  font-family: 'Montserrat', sans-serif;
  color: #979797;
}
.index .feature_bar .still_products .shopnow_angle a {
  color: #979797;
}
.index .feature_bar .still_products .shopnow_angle i {
  border: solid #979797 2px;
}
@media (max-width: 374px) {
  .index .feature_bar .control_bar .control_bt {
    display: none;
  }
}
@media (max-width: 767.98px) {
  .index .modal .modal-body .input-group {
    width: 60% !important;
  }
  .index .main_items .row > div {
    margin-bottom: 15px;
  }
  .index .main_items .new_collection .words {
    position: absolute;
    bottom: 28px;
    left: 38px;
    color: #fff;
  }
  .index .main_items .right_item .top {
    margin-bottom: 10px;
  }
  .index .feature_bar {
    padding-bottom: 15px;
  }
  .index .feature_bar .control_bar a {
    font-size: calc(12rem/16);
  }
  .index .still_products .row > div {
    margin-bottom: 15px;
  }
  .index .best_seller .control_bar {
    padding-bottom: 30px;
  }
  .index .best_seller .control_bar .title {
    margin-top: 10px;
  }
  .index .best_seller .owl_best .cover {
    padding: 20px 60px;
    left: 40px;
    font-size: calc(16rem/16);
  }
}
@media (max-width: 991.98px) and (min-width: 768px) {
  .index .main_items .row > div {
    margin-bottom: 15px;
  }
  .index .feature_bar {
    padding-bottom: 15px;
  }
  .index .feature_bar .control_bar a {
    font-size: calc(12rem/16);
  }
  .index .still_products .row > div {
    margin-bottom: 15px;
  }
  .index .still_products .title {
    font-size: 16px !important;
  }
  .index .still_products .shopnow_angle {
    bottom: -3px !important;
  }
  .index .best_seller .control_bar {
    padding-bottom: 30px;
  }
  .index .best_seller .control_bar .title {
    margin-top: 10px;
  }
}
.blog-postlist {
  color: #494949;
}
.blog-postlist main {
  margin-bottom: 50px;
}
.blog-postlist main .articles .prev_and_next .button {
  background-color: transparent;
  border: solid 3px black;
  font-weight: 600;
  padding: 0 12px;
  cursor: pointer;
}
.blog-postlist main .sidebar .title {
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
}
.blog-postlist main .sidebar .categories .category {
  color: #727272;
  font-weight: 300;
}
.blog-postlist main .sidebar .popular_post .description {
  font-weight: 300;
  margin-bottom: 0;
}
.blog-postlist main .sidebar .popular_post .date {
  font-style: italic;
  color: #808080;
}
.blog-postlist main .sidebar .tag {
  font-weight: 300;
  width: 200px;
  margin-left: auto;
}
@media (max-width: 374px) {
  .blog-postlist main .blog_meta .info > div {
    float: none !important;
  }
}
@media (max-width: 767.98px) {
  .blog-postlist main .blog_thumbnail {
    position: relative;
  }
  .blog-postlist main .date {
    position: absolute;
    top: 0;
  }
  .blog-postlist main .articles .blog_meta {
    margin: 0 auto;
  }
  .blog-postlist main .sidebar {
    padding: 60px 0;
    text-align: center !important;
  }
  .blog-postlist main .sidebar hr {
    margin: 0 auto !important;
  }
  .blog-postlist main .sidebar .popular_post {
    margin-bottom: 30px;
  }
  .blog-postlist main .sidebar .popular_post hr {
    margin-bottom: 30px !important;
  }
  .blog-postlist main .sidebar .post {
    text-align: right;
  }
  .blog-postlist main .sidebar .post .row {
    justify-content: center;
  }
  .blog-postlist main .sidebar .tag {
    margin: 0 auto;
  }
  .blog-postlist footer .contact {
    text-align: center !important;
  }
}
@media (max-width: 991.98px) and (min-width: 768px) {
  .blog-postlist main .blog_thumbnail {
    position: relative;
  }
  .blog-postlist main .date {
    position: absolute;
    top: 0;
  }
  .blog-postlist main .blog_meta {
    margin: 0 auto;
  }
  .blog-postlist .sidebar {
    padding: 60px 0;
    text-align: center !important;
  }
  .blog-postlist .sidebar hr {
    margin: 0 auto !important;
  }
  .blog-postlist .sidebar .popular_post {
    margin-bottom: 30px;
  }
  .blog-postlist .sidebar .popular_post hr {
    margin-bottom: 30px !important;
  }
  .blog-postlist .sidebar .post {
    text-align: right;
  }
  .blog-postlist .sidebar .post .row {
    justify-content: center;
  }
  .blog-postlist .sidebar .tag {
    margin: 0 auto;
  }
}
.blog-detail {
  color: #494949;
}
.blog-detail .cover .grey_bar {
  background-color: #eee;
  margin-top: 56px;
  font-size: 12px;
}
.blog-detail .cover .row {
  margin-left: 0;
}
.blog-detail .cover .row a {
  color: #494949;
}
.blog-detail .cover .row .bt {
  text-align: right;
  padding: 0;
}
.blog-detail .cover .container_function {
  max-width: 1200px;
  margin: 0 auto;
}
.blog-detail .cover ol.breadcrumb {
  padding: 0;
}
.blog-detail main .post_cover .container {
  background-image: url("http://unsplash.it/1200/570");
  background-repeat: cover;
  width: 1200px;
  height: 35vh;
}
.blog-detail main .post_cover .dates {
  background-color: white;
  color: #494949;
  margin-top: 30px;
  margin-left: 60px;
}
.blog-detail main .post_cover .dates .date_words {
  text-align: center;
}
.blog-detail main .post_cover .dates .day {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: -10px;
  background-color: white;
}
.blog-detail main .post_cover .dates .month {
  padding: 0 10px;
  margin-bottom: 5px;
}
.blog-detail main .article .title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 24px;
}
.blog-detail main .article .container .content {
  background-color: #ffffff;
  margin-top: -100px;
  width: 90%;
}
.blog-detail main .article .container .content .info {
  font-style: italic;
}
.blog-detail main .article .container .content .description {
  line-height: 1.8;
}
.blog-detail main .article .container .content_images .col-md-4 {
  display: inline-block;
}
.blog-detail main .article .container .other_info .writer {
  background-color: #f4f4f4;
  padding: 20px 0;
}
.blog-detail main .article .container .other_info .writer img {
  height: auto;
}
.blog-detail main .article .container .other_info .writer .info {
  color: #494949;
}
.blog-detail main .article .container .other_info .writer .info .social_icon {
  padding-top: 50px;
}
.blog-detail main .article .container .other_info .writer .info a {
  color: black;
  padding-right: 15px;
}
.blog-detail main .article .container .other_info .leave_comment {
  margin-bottom: 120px;
}
.blog-detail main .article .container .other_info .leave_comment .title {
  margin-bottom: 30px;
}
.blog-detail main .article .container .other_info .leave_comment input,
.blog-detail main .article .container .other_info .leave_comment textarea {
  border-radius: 0;
  background-color: #f7f7f7;
  border: none;
}
.blog-detail main .article .container .other_info .leave_comment .send {
  color: grey;
  background-color: #f7f7f7;
  border-radius: 0;
  margin-top: 16px;
}
@media (max-width: 767.98px) {
  .blog-detail .cover {
    margin-bottom: 30px;
  }
  .blog-detail .cover .grey_bar {
    padding-bottom: 15px;
  }
  .blog-detail .cover .row > div {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
  .blog-detail .cover .row .bt {
    text-align: center;
  }
  .blog-detail main .post_cover .container {
    width: 100% !important;
  }
  .blog-detail main .post_cover .dates {
    margin-top: 20px;
    margin-left: 2px;
  }
  .blog-detail main .post_cover .social {
    margin: 20px 10px 0 0;
  }
  .blog-detail main .writer .info {
    padding-top: 0 !important;
  }
}
@media (max-width: 991.98px) and (min-width: 768px) {
  .blog-detail .sidebar {
    padding: 60px 0;
    text-align: center !important;
  }
  .blog-detail .sidebar hr {
    margin: 0 auto !important;
  }
  .blog-detail .sidebar .popular_post {
    margin-bottom: 30px;
  }
  .blog-detail .sidebar .popular_post hr {
    margin-bottom: 30px !important;
  }
  .blog-detail .sidebar .post {
    text-align: right;
  }
  .blog-detail .sidebar .post .row {
    justify-content: center;
  }
  .blog-detail .sidebar .tag {
    margin: 0 auto;
  }
}
.page404 .wrap {
  background-image: url(../pics/404bg.png);
  background-size: cover;
  height: 100vh;
}
.page404 .all {
  padding-top: 180px;
  color: #ffffff;
}
.page404 .all .title {
  font-family: 'Montserrat', sans-serif;
  font-size: 26px;
  font-weight: 600;
}
.page404 .all .homepage {
  background-color: #ffffff;
  border-radius: 0px;
  font-weight: 600;
  padding-bottom: 10px;
}
.page404 .all .input-group {
  border: solid 2px white;
  border-radius: 0;
}
.page404 .all .user_action .fa-search {
  margin-right: 15px;
  margin-top: 10px;
}
.page404 .all .search {
  border: none;
  color: #ffffff;
  background-color: transparent;
}
.page404 .all .search::placeholder {
  color: #ffffff;
  font-size: 16px;
}
.page404 .all .title_404 {
  margin-left: 50px;
  text-align: center;
  font-size: 180px;
  line-height: 0.5;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
@media (max-width: 767.98px) {
  .page404 .wrap {
    height: 100vh;
  }
  .page404 .all {
    padding-top: 100px;
  }
  .page404 .all .homepage {
    margin-bottom: 10px;
  }
  .page404 .all .title_404 {
    margin: 89px 0px 0px -20px;
    font-size: 150px;
  }
}
@media (max-width: 991.98px) and (min-width: 768px) {
  .page404 .all {
    padding-top: 100px;
  }
  .page404 .all .title_404 {
    margin: 46px 0px 20px 20px;
  }
}
.product-list main aside .filter {
  background-color: #f4f4f4;
  padding: 30px;
}
.product-list main aside .filter .by_brands {
  color: #a0a0a0;
}
.product-list main aside .filter .by_brands > div {
  margin-bottom: -5px;
  font-weight: 200;
}
.product-list main aside .filter .by_price .tag {
  width: 40px;
}
.product-list main aside .filter .by_price .price_display {
  border: 0;
  color: black;
  font-weight: normal;
  background-color: #f4f4f4;
  width: 50px;
}
.product-list main aside .filter .by_price .description {
  color: #969696;
  font-weight: 600;
}
.product-list main aside .filter .by_price .range_slider .ui-slider-handle {
  outline: none;
  border-radius: 50%;
  border: solid black 4px;
  background-color: #ffffff;
}
.product-list main aside .filter .by_price .range_slider .ui-state-active {
  border: black;
  background: grey;
  border-radius: 50%;
}
.product-list main aside .filter .by_price .range_slider .ui-slider-range {
  background: black;
}
.product-list main aside .filter .by_price .range_slider #slider-range {
  background-color: #b3b3b3;
  height: 10px;
  border-radius: 10px;
}
.product-list main aside .filter .by_price .filter_btn {
  padding: 2px 6px;
  font-size: 14px ;
  border-radius: 5px;
}
.product-list main aside .filter .by_price .irs-line {
  background-color: #b3b3b3;
  height: 8px;
}
.product-list main aside .filter .by_price .dash {
  margin-left: -8px;
}
.product-list main aside .filter .by_price .irs-bar {
  background: #000 !important;
  height: 7px;
}
.product-list main aside .filter .by_price .irs-handle {
  border-color: #000;
}
.product-list main aside .filter .by_price .irs-from,
.product-list main aside .filter .by_price .irs-to {
  display: none;
}
.product-list main aside .category > div {
  margin-bottom: -24px;
  color: #a0a0a0;
  font-family: 'Montserrat', sans-serif;
}
.product-list main aside .category > div a {
  font-size: 16px;
  font-weight: 600;
  color: #a0a0a0;
}
.product-list main aside .hot_sale .row {
  margin-bottom: 15px;
}
.product-list main aside .hot_sale .words .title {
  font-size: 16px;
}
.product-list main aside .hot_sale .words .original_price {
  color: #808080;
}
.product-list main aside .hot_sale .words .discount_price {
  color: #29292C;
  font-size: 22px;
}
.product-list main .allproducts .page_info {
  font-weight: 300;
  color: #808080;
}
.product-list main .allproducts .present_setting button {
  color: #A5A5A5;
  border: solid 1px #DBDBDB;
  margin-right: 10px;
}
.product-list main .allproducts .present_setting .circle_bt {
  padding: 6px 10px;
}
.product-list main .allproducts .products .row > div {
  padding-bottom: 20px;
}
.product-list main .allproducts .page_number .nav-item {
  margin-right: 5px;
}
.product-list main .allproducts .page_number a {
  background-color: #f6f6f6;
  color: #BABABA;
  font-family: 'Montserrat', sans-serif;
  border-radius: 0;
}
@media (max-width: 767.98px) {
  .product-list .hot_sale .col-lg-7 {
    margin-bottom: 30px;
  }
  .product-list .product_nav .page_info {
    text-align: center !important;
    margin-bottom: 40px !important;
  }
  .product-list .product_nav .present_setting {
    justify-content: center !important;
  }
}
@media (max-width: 991.98px) and (min-width: 768px) {
  .product-list aside .hot_sale .col-md-3 {
    margin-bottom: 30px;
  }
  .product-list .page_number {
    margin-bottom: 100px;
  }
}
.product-detail main .product_images {
  padding: 80px 20px;
}
.product-detail main .product_images .social {
  margin-bottom: 20px;
  margin-top: -20px;
}
.product-detail main .product_images .other_images {
  margin-top: 20px;
}
.product-detail main .product_images .control {
  align-self: center;
  padding-left: 0;
}
.product-detail main .product_images .control .control_bt {
  background: #ffffff;
  padding: 35px 15px 35px 8px;
  color: #494949;
}
.product-detail main .product_intro {
  padding: 60px 40px;
  color: #BEBEBE;
}
.product-detail main .product_intro .title {
  color: #000000;
  letter-spacing: 3px;
  font-weight: 300;
  font-size: 40px;
}
.product-detail main .product_intro .breadcrumb {
  padding: 0;
  justify-content: flex-start;
}
.product-detail main .product_intro .breadcrumb a {
  color: #BEBEBE;
}
.product-detail main .product_intro .social {
  margin: 30px 0;
}
.product-detail main .product_intro .social a {
  color: #b6b6b6;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin-right: 15px;
}
.product-detail main .product_intro .review {
  color: #c8a760;
}
.product-detail main .product_intro .description {
  font-weight: 300;
}
.product-detail main .product_intro .price {
  margin-top: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}
.product-detail main .product_intro .discount_price {
  color: black;
  font-size: 26px;
}
.product-detail main .product_intro .quantity {
  margin-top: 25px;
}
.product-detail main .product_intro .quantity .name {
  margin-top: 6px;
}
.product-detail main .product_intro .quantity .custom-select {
  max-width: 60px;
  padding-left: 18px;
}
.product-detail main .info .nav-tabs {
  justify-content: center;
}
.product-detail main .info .nav-link {
  border: none;
  color: #9B9B9B;
  font-weight: 600;
}
.product-detail main .info .nav-link:hover {
  color: #171717;
}
.product-detail main .info .nav-link.active {
  border-bottom: solid 3px black;
  color: #171717;
}
.product-detail main .info .tab-pane {
  margin-top: 40px;
  color: #9B9B9B;
  font-weight: 300;
}
.product-detail footer .container-fluid {
  padding-top: 50px;
}
@media (max-width: 767.98px) {
  .product-detail main .product_images {
    padding-bottom: 20px;
  }
  .product-detail main .product_images .control {
    margin-left: -5px;
  }
  .product-detail main .product_images .control .control_bt {
    padding: 26px 15px 26px 8px;
  }
  .product-detail main .product_intro {
    padding-top: 20px;
  }
  .product-detail main .product_intro .social a {
    display: block;
    margin: 10px 0;
  }
  .product-detail main .info .nav-link {
    font-size: 14px;
  }
  .product-detail footer .main_footer .subscribe {
    text-align: center !important;
  }
}
@media (max-width: 991.98px) and (min-width: 768px) {
  .product-detail aside .hot_sale .col-md-3 {
    margin-bottom: 30px;
  }
  .product-detail .page_number {
    margin-bottom: 100px;
  }
}
.shopping-cart .navigation .one .number {
  color: black;
  border-color: black;
}
.shopping-cart .navigation .one .title {
  color: black;
}
.shopping-cart .product {
  margin-bottom: 40px;
}
.shopping-cart .product .table thead th {
  border-top: none;
  color: #808080;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 18px;
}
.shopping-cart .product .table tr th img {
  width: 106px;
  height: 106px;
}
.shopping-cart .product .table tr td {
  vertical-align: middle;
}
.shopping-cart .product .table tr .name {
  color: #808080;
  font-weight: 600;
}
.shopping-cart .product .table tr .price {
  font-weight: 600;
}
.shopping-cart .product .table tr .total {
  font-weight: 600;
}
.shopping-cart .product .table tr .quantity {
  padding-left: 20px;
}
.shopping-cart .product .table tr .custom-select {
  width: 50px;
  background-color: #f4f4f4;
  font-weight: 600;
}
.shopping-cart .discount_code .code_input {
  font-size: 14px;
  border-radius: 0;
  padding: 18px 5px 18px 16px;
}
.shopping-cart .discount_code .apply {
  background-color: #c8a760;
  color: white;
  border-radius: 0;
  padding: 5px 40px;
}
.shopping-cart .discount_code .input {
  margin-bottom: 60px;
}
.shopping-cart .discount_code .user_input .col-8 {
  padding-right: 10px;
}
.shopping-cart .discount_code .user_input .col-4 {
  padding-left: 0;
}
.shopping-cart .calculate .district select {
  margin-bottom: 15px;
  height: 50px;
  color: #808080;
}
.shopping-cart .calculate .district .update {
  background-color: #f4f4f4;
  color: #808080;
}
.shopping-cart .calculate .summary .block {
  border: solid 1px #dbdbdb;
}
.shopping-cart .calculate .summary .wrap {
  padding: 30px 40px;
}
.shopping-cart .calculate .summary tbody .first {
  border-top: none;
}
.shopping-cart .calculate .summary tbody th {
  color: #808080;
  font-weight: 500;
}
.shopping-cart .calculate .summary tbody td {
  text-align: right;
  font-weight: 600;
}
@media (max-width: 767.98px) {
  .shopping-cart main .navigation .wrap {
    max-width: 300px;
  }
  .shopping-cart main .navigation .wrap .number {
    font-size: 12px;
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
  .shopping-cart main .navigation .wrap .title {
    font-size: 12px;
  }
  .shopping-cart main .navigation .wrap .one {
    margin-right: -28px;
  }
  .shopping-cart main .navigation .wrap .two {
    margin-right: -28px;
  }
  .shopping-cart main .navigation .wrap .three {
    margin-right: -28px;
  }
  .shopping-cart main .navigation .wrap .line {
    width: 25px;
  }
  .shopping-cart main .navigation .wrap hr {
    margin-top: 34px;
  }
  .shopping-cart main .summary .title {
    margin-top: 40px;
  }
  .shopping-cart footer .main_footer .subscribe {
    text-align: center !important;
  }
}
@media (max-width: 991.98px) and (min-width: 768px) {
  .shopping-cart aside .hot_sale .col-md-3 {
    margin-bottom: 30px;
  }
  .shopping-cart .page_number {
    margin-bottom: 100px;
  }
}
.checkout .header_wrap .grey_pad {
  background-image: url(../pics/checkout_banner.png);
  background-size: cover;
}
.checkout .header_wrap .grey_pad a,
.checkout .header_wrap .grey_pad .divider_line {
  color: white !important;
}
.checkout .header_wrap .grey_pad .headline {
  color: white;
}
.checkout .navigation .one .number,
.checkout .navigation .two .number {
  color: black;
  border-color: black;
}
.checkout .navigation .one .title,
.checkout .navigation .two .title {
  color: black;
}
.checkout .main_info .row .title {
  font-weight: 700;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  color: black;
}
.checkout .user_form > select,
.checkout .user_form input {
  height: 50px;
  margin-bottom: 15px;
}
.checkout .user_form .half {
  width: 47%;
}
.checkout .user_form .name {
  margin-right: 6%;
}
.checkout .user_form .email {
  margin-right: 6%;
}
.checkout .user_form .ship_wrap {
  height: inherit;
}
.checkout .user_form .ship_wrap .overflow-control-description {
  color: #808080;
}
.checkout .sheet {
  color: #808080;
}
.checkout .sheet .container {
  padding: 50px;
}
.checkout .sheet .table th {
  font-weight: 600;
}
.checkout .sheet .table td {
  color: #494949;
  font-weight: 600;
}
.checkout .sheet thead th,
.checkout .sheet .user_buy th,
.checkout .sheet thead td,
.checkout .sheet .user_buy td {
  border: none;
}
.checkout .sheet .user_buy {
  font-size: 14px;
  height: 12px;
  line-height: 16px;
}
.checkout .sheet .payment .description {
  font-size: 14px;
  color: #919191;
}
.checkout .sheet .payment > div {
  font-weight: 600;
}
@media (max-width: 767.98px) {
  .checkout .navigation .wrap {
    max-width: 300px;
  }
  .checkout .navigation .wrap .number {
    font-size: 12px;
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
  .checkout .navigation .wrap .title {
    font-size: 12px;
  }
  .checkout .navigation .wrap .one {
    margin-right: -28px;
  }
  .checkout .navigation .wrap .two {
    margin-right: -28px;
  }
  .checkout .navigation .wrap .three {
    margin-right: -28px;
  }
  .checkout .navigation .wrap .line {
    width: 25px;
  }
  .checkout .navigation .wrap hr {
    margin-top: 34px;
  }
  .checkout .sheet .grey_pad .container {
    margin-top: 30px;
  }
  .checkout .sheet .grey_pad .container .user_buy {
    line-height: 16px;
  }
  .checkout footer .main_footer .subscribe {
    text-align: center !important;
  }
}
@media (max-width: 991.98px) and (min-width: 768px) {
  .checkout aside .hot_sale .col-md-3 {
    margin-bottom: 30px;
  }
  .checkout .page_number {
    margin-bottom: 100px;
  }
}
body {
  font-family: 'Source Sans Pro', sans-serif;
}
body img {
  width: 100%;
  height: auto;
}
body section {
  margin-bottom: 60px;
}
body button,
body input,
body a {
  outline: none !important;
  box-shadow: none !important;
}
a:hover {
  text-decoration-line: none;
}
.short_info {
  font-size: 14px;
  background-color: #282828;
}
.short_info.no_bg {
  background: transparent;
}
.short_info .nav-item {
  color: #a1a1a1;
  transition: all 0.5s ease;
}
.short_info .nav-item a {
  float: right;
  color: #a1a1a1;
}
.short_info .nav-item:hover {
  background-color: #3f3e43;
}
.short_info.order .divider_line {
  margin-top: 6px;
  color: #a1a1a1;
}
.short_info.order .language {
  min-width: 40px;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.6);
}
.short_info.order .language a {
  color: white;
}
.short_info.order .language a:hover {
  background-color: #c8a760;
}
.header nav {
  font-family: 'Montserrat', sans-serif;
}
.header nav .navbar-toggler {
  border: none;
}
.header nav .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.header nav li {
  margin: 1.5rem 0.1rem;
}
.header nav .nav-item {
  font-size: 0.9rem;
}
.header nav .nav-item .nav-link {
  font-weight: 500;
  color: #494949 !important;
  transition: all 0.4s ease;
}
.header nav .nav-item .nav-link:hover {
  color: #c8a760 !important;
}
.header nav button.products_dropdown {
  background: none;
  border: none;
}
.header nav #products-modal .modal-dialog {
  max-width: 70vw;
  margin-top: 140px;
  color: #808080;
}
.header nav #products-modal .modal-dialog #triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 25px 25px 25px;
  border-color: transparent transparent #ffffff transparent;
  position: absolute;
  top: -9px;
  right: 15%;
}
.header nav #products-modal .modal-dialog .modal-body {
  padding: 65px;
}
.header nav #products-modal .modal-dialog .modal-body .menu {
  padding-bottom: 60px;
}
.header nav #products-modal .modal-dialog hr {
  padding-bottom: 16px;
}
.header nav #products-modal .modal-dialog .list-group-item {
  font-family: 'Source Sans Pro', sans-serif;
  padding-left: 0;
  border: none;
  margin: 0;
  padding: 5px 0 5px 0;
}
.header nav #products-modal .modal-dialog .list-group-item a {
  color: #808080;
  font-size: 14px;
}
.header nav #products-modal .modal-dialog .list-group-item.title {
  color: #535353;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}
.header nav #products-modal .modal-dialog .hot_products .words {
  color: #535353;
}
.header nav #products-modal .modal-dialog .hot_products .hot-1 .words {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header nav #products-modal .modal-dialog .hot_products .hot-1 .words .hot-1-title {
  letter-spacing: 30px;
  font-weight: 700;
}
.header nav #products-modal .modal-dialog .hot_products .hot-1 .words .discount {
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 18px;
}
.header nav #products-modal .modal-dialog .hot_products .hot-2 .words {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  text-align: right;
  padding-right: 35px;
}
.header nav #products-modal .modal-dialog .hot_products .hot-2 .words .hot-2-title {
  font-size: 21px;
  font-weight: 600;
  letter-spacing: 3px;
}
.header nav #products-modal .modal-dialog .hot_products .hot-2 .words a {
  color: #a1a1a1;
  font-size: 14px;
  font-weight: 600;
}
.header nav .search i {
  font-size: 1.5rem;
}
.header nav .shopping_cart i {
  font-size: 1.5rem;
  margin-right: 1rem;
}
.header.full_width .phone a {
  color: #494949;
  font-family: 'Montserrat', sans-serif;
  font-size: calc(12rem/16);
}
.header_wrap .grey_pad .headline {
  font-size: 36px;
  margin-top: 40px;
}
.header_wrap .grey_pad .breadcrumb {
  justify-content: flex-start;
  padding-bottom: 30px;
}
.shopping_cart {
  z-index: 1000;
}
.shopping_cart .dropdown-menu {
  height: 520px;
  width: 400px;
  top: 150%;
  left: -116%;
}
.shopping_cart .dropdown-menu .container {
  padding: 40px;
  font-size: 14px;
  color: #808080;
}
.shopping_cart .dropdown-menu .container .price {
  color: #494949;
  font-weight: 600;
}
.shopping_cart .dropdown-menu .container .total {
  font-weight: 600;
}
.shopping_cart .dropdown-menu .container .col-2 {
  align-self: center;
}
.shopping_cart .dropdown-menu .container button {
  background-color: white;
  border: solid 2px black;
}
.shopping_cart .dropdown-menu .container button a {
  color: black;
  font-weight: 600;
}
.shopping_cart .dropdown-menu .container button:hover {
  background-color: black;
}
.shopping_cart .dropdown-menu .container button:hover a {
  color: white;
}
.search_box .modal-dialog {
  max-width: 1200px;
}
.search_box .modal-content {
  height: 30vh;
  background-color: #f4f4f4;
  margin-top: 160px;
}
.search_box .modal-body {
  color: #919191;
  display: flex;
}
.search_box .modal-body .input-group {
  width: 40%;
}
.search_box .modal-body .search {
  border-radius: 0px;
  background-color: transparent;
  border: none;
  border-left: solid 2px #ADADAD;
}
.search_box .modal-body .search::placeholder {
  color: #ADADAD;
  font-weight: 300;
}
.search_box .modal-body .mic_bt {
  font-size: 20px;
  margin-top: 10px;
  padding-right: 0;
  color: #A0A0A0;
}
.search_box .modal-body .search_bt {
  font-size: 20px;
  margin-top: 10px;
  margin-right: 0px;
  color: #A0A0A0;
}
.search_box .modal-body .cancel {
  border: none;
  color: #919191;
  position: absolute;
  bottom: 10%;
  right: 43%;
  color: #A0A0A0;
  font-size: 28px;
  font-weight: 200;
}
.navigation .number {
  border: solid 2px #dbdbdb;
  color: #9f9f9f;
  font-size: 20px;
  font-weight: 600;
  border-radius: 50%;
  text-align: center;
  width: 80px;
  height: 80px;
  line-height: 80px;
  z-index: 2;
}
.navigation .line {
  width: 80px;
  color: #EFEFEF;
}
.navigation .title {
  font-size: 12px;
  width: 90px;
  font-weight: 700;
  text-align: center;
  color: #9f9f9f;
}
.navigation hr {
  margin-top: 40px;
}
.navigation .wrap {
  max-width: 500px;
  margin: 0 auto;
}
.cover.image {
  background-image: url(../pics/contact_pad.png);
  background-size: cover;
}
.cover .title {
  font-weight: 600;
  letter-spacing: 1px;
  font-family: 'Montserrat', sans-serif;
  color: #494949;
  padding-top: 50px;
  margin-bottom: -6px;
}
.breadcrumb {
  justify-content: center;
  background-color: transparent;
  padding-bottom: 50px;
  margin: 0 auto;
}
.breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  content: '\f105';
  font-family: "fontello";
}
.breadcrumb a {
  color: #717171;
  font-size: calc(12rem/16);
}
.wrap_check .checkout {
  background-color: #88bd6e;
  color: white;
  border-radius: 0;
  margin-top: 10px;
}
.custom-control.overflow-checkbox .overflow-control-input {
  display: none;
}
.custom-control.overflow-checkbox .overflow-control-input:checked ~ .overflow-control-indicator::after {
  transform: rotateZ(45deg) scale(1);
  top: -6px;
  left: 5px;
}
.custom-control.overflow-checkbox .overflow-control-input:checked ~ .overflow-control-indicator::before {
  opacity: 1;
}
.custom-control.overflow-checkbox .overflow-control-indicator {
  border-radius: 3px;
  display: inline-block;
  position: absolute;
  top: 4px;
  left: 0;
  width: 16px;
  height: 16px;
  border: 2px solid #aaa;
}
.custom-control.overflow-checkbox .overflow-control-indicator::after {
  content: '';
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  transition: 0.3s;
  transform: rotateZ(90deg) scale(0);
  width: 10px;
  border-bottom: 4px solid #aaa;
  border-right: 4px solid #aaa;
  border-radius: 3px;
  top: -2px;
  left: 2px;
}
.custom-control.overflow-checkbox .overflow-control-indicator::before {
  content: '';
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  transition: 0.3s;
  width: 10px;
  border-right: 7px solid #fff;
  border-radius: 3px;
  transform: rotateZ(45deg) scale(1);
  top: -4px;
  left: 5px;
  opacity: 0;
}
.grey_pad {
  background-color: #f4f4f4;
  background-image: none;
}
.moving_products {
  position: relative;
  padding-bottom: 73px;
}
.moving_products .words {
  text-align: left;
}
.moving_products .words .title {
  font-size: 14px;
  color: #808080;
}
.moving_products .words .price {
  color: #2c3e65;
  font-size: 18px;
  line-height: 1;
  font-weight: 700;
}
.moving_products .words .discount {
  position: absolute;
  top: 45px;
  left: 0;
  background-color: #b2cc29;
  padding: 0 5px;
}
.best_seller {
  transition: all 0.5s ease;
  position: relative;
  padding-bottom: 30px;
}
.best_seller .control_bar {
  padding-bottom: 16px;
}
.best_seller .control_bar .title {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 700;
}
.best_seller .cover {
  opacity: 0;
  background-color: #ffffff;
  position: absolute;
  transition: all 0.5s ease;
  font-size: 16px;
  padding: 10px 20px;
  left: 20px;
  bottom: 12px;
}
.best_seller .cover .nav-link {
  padding: 0;
}
.best_seller .cover a {
  color: #979797;
}
.best_seller .cover a .fa-shopping-bag:after {
  content: "|";
  padding: 0 20px;
}
.best_seller .cover a .fa-heart:after {
  content: "|";
  padding: 10px 20px;
}
.best_seller .product {
  position: relative;
  transition: all 0.5s ease;
}
.best_seller .product img {
  transition: all 0.5s ease;
}
.best_seller .product:hover img {
  opacity: 0.7;
}
.best_seller .product:hover .cover {
  opacity: 1;
}
.best_seller .product .new {
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  background-color: #000000;
  position: absolute;
  top: 45px;
  left: 0;
  padding: 3px 5px;
}
.best_seller .product .star {
  position: absolute;
  bottom: 15px;
  left: 12px;
  text-align: left;
  color: #c8a760;
  font-size: 12px;
}
.best_seller .product .star .far {
  color: #ededed;
}
.best_seller .best_4 {
  position: relative;
}
.best_seller .best_4 .discount {
  position: absolute;
  font-size: 12px;
  top: 45px;
  left: 0px;
  background-color: #b2cc29;
  padding: 0 5px;
}
.best_seller .best_4 .new {
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  background-color: #000000;
  position: absolute;
  top: 64px;
  left: 0;
  padding: 3px 5px;
}
.best_seller .words {
  text-align: left;
}
.best_seller .words .title {
  font-weight: 600;
  font-size: 20px;
  color: #808080;
  margin-bottom: 0;
  margin-top: 10px;
}
.best_seller .words .price {
  color: #2c3e65;
  font-size: 18px;
  line-height: 1;
  font-weight: 700;
}
.brands {
  padding: 40px 0 80px 0;
}
.brands .title {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  padding-bottom: 60px;
}
.brands .title small {
  color: #dbdbdb;
  font-size: 12px;
  letter-spacing: 3px;
}
.brands .owl_brands img {
  width: 60%;
  margin: 0 auto;
}
.brands .brands_bar .fas {
  top: 40%;
  z-index: 100;
}
.brands .brands_bar .brands_bt_prev {
  left: 0;
}
.brands .brands_bar .brands_bt_next {
  right: 0;
}
hr.short_strong {
  margin: 0;
  margin-left: auto;
  width: 75px;
  border-top: 4px solid #494949;
}
article .date {
  float: left;
  width: 78px;
  height: 78px;
  background-color: #919191;
  color: #ffffff;
  text-align: center;
}
article .date .date_words {
  margin: auto 0;
  padding-top: 4px;
}
article .date .day {
  font-size: 28px;
  margin-bottom: -6px;
}
article .date .month {
  font-size: 16px;
  margin-bottom: 0;
}
article .blog_meta {
  max-width: 620px;
  margin-left: 80px;
}
article .blog_meta .title {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 700;
}
article .blog_meta .info {
  color: #919191;
  font-style: italic;
}
article .blog_meta .readmore {
  color: #494949;
  font-weight: 700;
}
footer .guarantee {
  font-family: 'Montserrat', sans-serif;
  padding: calc(50rem/16) 0;
}
footer .guarantee .col-md-3 {
  display: flex;
  justify-content: center;
}
footer .guarantee i {
  margin-right: calc(20rem/16);
  margin-top: calc(6rem/16);
  font-size: calc(36rem/16);
  color: #808080;
}
footer .guarantee .words {
  padding-right: 10px;
}
footer .guarantee .words .title {
  font-size: calc(14rem/16);
  letter-spacing: 1px;
}
footer .guarantee .words .description {
  font-family: 'Oxygen', sans-serif;
  color: #808080;
  font-size: calc(10rem/16);
}
footer .container-fluid {
  background-color: #f6f6f6;
  padding-top: 50px;
}
footer .container-fluid.middle_size {
  max-width: 1600px;
}
footer .container-fluid .main_footer {
  padding-top: calc(20rem/16);
  padding-bottom: calc(60rem/16);
}
footer .container-fluid .main_footer .footer_info {
  color: #a0a0a0;
}
footer .container-fluid .main_footer .footer_info a {
  color: #a0a0a0;
}
footer .container-fluid .main_footer .footer_info .contact {
  font-family: 'Open Sans', sans-serif;
}
footer .container-fluid .main_footer .footer_info .contact .logo {
  width: 102px;
  height: 29px;
  margin-bottom: calc(28rem/16);
}
footer .container-fluid .main_footer .footer_info .contact .description {
  font-size: calc(12rem/16);
}
footer .container-fluid .main_footer .footer_info .contact .address {
  font-size: calc(10rem/16);
  margin-bottom: calc(20rem/16);
}
footer .container-fluid .main_footer .footer_info .contact .address .fas_div {
  padding: 4px 12px 2px 0px;
}
footer .container-fluid .main_footer .footer_info .contact .address span {
  line-height: 1;
}
footer .container-fluid .main_footer .footer_info .contact .phone {
  font-size: calc(12rem/16);
}
footer .container-fluid .main_footer .footer_info .contact .phone i {
  padding-right: 6px;
}
footer .container-fluid .main_footer .footer_info .contact .mail {
  font-size: calc(12rem/16);
}
footer .container-fluid .main_footer .footer_info .contact .mail i {
  padding-right: 6px;
}
footer .container-fluid .main_footer .footer_info .site_link {
  font-family: 'Open Sans', sans-serif;
}
footer .container-fluid .main_footer .footer_info .site_link .title {
  font-size: calc(16rem/16);
  font-weight: 700;
  color: #575757;
  margin-bottom: calc(15rem/16);
}
footer .container-fluid .main_footer .footer_info .site_link .list-group-item {
  font-size: calc(12rem/16);
  background-color: transparent;
  border: 0px;
  padding: 0.3rem 1.25rem;
}
footer .container-fluid .main_footer .footer_info .subscribe {
  text-align: right;
}
footer .container-fluid .main_footer .footer_info .subscribe .title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: calc(14rem/16);
  color: #575757;
}
footer .container-fluid .main_footer .footer_info .subscribe .user_input {
  margin-bottom: calc(30rem/16);
}
footer .container-fluid .main_footer .footer_info .subscribe .user_input input ::placeholder {
  font-size: calc(2rem/16) !important;
  color: red !important;
}
footer .container-fluid .main_footer .footer_info .subscribe .user_input .user_email {
  border-top-left-radius: 200px;
  border-bottom-left-radius: 200px;
  border: none;
}
footer .container-fluid .main_footer .footer_info .subscribe .user_input .sub_bt {
  background-color: #696969;
  border-top-right-radius: 200px;
  border-bottom-right-radius: 200px;
  color: #ffffff;
}
footer .container-fluid .main_footer .footer_info .subscribe .user_input.hollow input.user_email {
  background-color: transparent;
  border: 1px solid;
  border-right: none;
}
footer .container-fluid .main_footer .footer_info .subscribe .user_input.hollow button.sub_bt {
  background-color: transparent;
  border-left: none;
  color: #a0a0a0;
}
footer .container-fluid .main_footer .footer_info .subscribe .follow {
  color: #575757;
  font-weight: 400;
}
footer .container-fluid .main_footer .footer_info .subscribe .social_icon i {
  margin-right: 0.5rem;
}
footer .container-fluid .main_footer .footer_info .subscribe .social_icon .whatsapp {
  margin: 0;
  font-weight: 600;
}
footer .all_rights {
  margin: calc(20rem/16) 0;
}
footer .all_rights .words {
  font-size: calc(14rem/16);
}
footer .all_rights .words .logo {
  font-weight: 700;
}
footer.simple {
  padding-bottom: 100px;
}
footer.simple .container-fluid {
  background-color: transparent;
}
footer.simple .container-fluid .contact {
  text-align: right;
}
footer.simple .all_rights {
  text-align: center;
}
footer.simple .all_rights img {
  width: 140px;
  height: 20px;
}
footer.simple .all_rights p {
  color: #a0a0a0;
  font-size: calc(12rem/16);
}
footer.grey_pad .container-fluid {
  background-color: #f4f4f4;
  padding-top: 50px;
}
footer.grey_pad .container-big {
  background-color: #f4f4f4;
  max-width: 1600px;
  padding-top: 50px;
}
.rounded_bt {
  border-radius: 25px !important;
}
.circle_bt {
  border-radius: 50% !important;
}
.square_bt {
  border-radius: 0 !important;
}
.noborder {
  border: none !important;
}
.star {
  text-align: left;
  color: #c8a760;
  font-size: 15px;
}
.star .far {
  color: #ededed;
}
.social {
  margin: 40px 50px 0 0;
}
.social a {
  color: #8f8f8f;
}
.red_round_bt {
  color: #ffffff;
  background-color: #ff8283;
}
.red_round_bt a {
  color: white;
}
.strong_black {
  font-size: 22px;
  font-weight: 600;
  color: #494949;
  font-family: 'Montserrat', sans-serif;
}
.cancel {
  font-weight: 800;
  font-size: 20px;
  color: #f53434;
}
.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 25px 25px 25px;
  border-color: transparent transparent #ffffff transparent;
  position: absolute;
  transition: all 0.2s 0.25s ease;
}
#shopping_triangle {
  top: -16px;
  left: 200px;
}
#triangle_products {
  top: -15px;
  right: calc(100%/2 + 30px);
}
#triangle_page {
  top: -15px;
  right: calc(100%/2 -50px);
}
#shopping_cart_shadow {
  display: none;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
#full_grey_pad {
  visibility: hidden;
  opacity: 0;
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.pad_active {
  visibility: visible !important;
  opacity: 0.5 !important;
  z-index: 100 !important;
}
#shopping_menu {
  transition: all 0.2s linear;
}
.shopping_cart_a {
  z-index: 101;
}
@media (max-width: 374px) {
  .navbar .phone {
    display: none;
  }
}
@media (max-width: 767.98px) {
  .short_info .info_container {
    max-width: 328px;
  }
  .short_info .info_container .nav {
    float: none !important;
  }
  .short_info .info_container .contact_info {
    font-size: 12px;
  }
  .short_info .info_container .contact_info .phone a {
    padding-left: 27px;
  }
  .short_info.order .contact_info {
    display: none;
  }
  .header nav #products-modal .modal-dialog {
    margin: 35% auto 0 auto;
  }
  .header nav #products-modal .modal-dialog #triangle {
    display: none;
  }
  .header nav #products-modal .modal-dialog .modal-body .menu {
    padding-bottom: 0;
  }
  .header nav #products-modal .modal-dialog .hot_products {
    display: none;
  }
  footer .guarantee .col-md-3 {
    padding-bottom: 20px;
  }
  footer .main_footer .row > div {
    padding: 20px 0;
  }
  footer .footer_info {
    text-align: center;
  }
  footer .footer_info .site_link {
    margin-bottom: calc(16rem/16);
  }
  footer .footer_info .subscribe {
    text-align: center !important;
  }
  footer .all_rights {
    text-align: center;
  }
  footer .all_rights .visa {
    display: flex;
    justify-content: center ;
  }
  footer .all_rights .visa img {
    width: 70%;
  }
  footer.simple .container-fluid .row > div {
    padding: 20px 0;
  }
  footer.simple .container-fluid .contact {
    text-align: center;
  }
  .shopping_cart .triangle {
    display: none !important;
  }
  .shopping_cart #shopping_menu {
    height: 680px;
    width: 305px;
    margin: 0 auto;
  }
  .shopping_cart #shopping_menu img {
    height: auto;
  }
  .shopping_cart .view_cart {
    margin-bottom: 20px;
    margin-right: 0 !important;
  }
  #triangle_products {
    display: none;
  }
}
@media (max-width: 991.98px) and (min-width: 768px) {
  .header nav #products-modal .modal-dialog #triangle {
    display: none;
  }
  .shopping_cart .triangle {
    display: none !important;
  }
  .shopping_cart #shopping_menu {
    margin: 0 auto;
  }
  .shopping_cart .button {
    margin-top: 20px;
  }
  .shopping_cart .view_cart {
    margin-bottom: 0px;
    margin-right: 10px !important;
  }
  #triangle_products {
    display: none;
  }
}
@media (min-width: 992px) {
  .header nav .shopping_cart .word {
    float: right;
  }
  footer .guarantee.order .col-md-3:not(:nth-child(4))::after {
    margin-left: 26px;
    content: " ";
    background-color: #EBEBEB;
    width: 2px;
    height: 60px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  #triangle_products {
    top: -15px;
    right: calc(100%/2 + 120px);
  }
}
/*# sourceMappingURL=main.css.map */