@white_color: #ffffff;
@header_nav:#494949;
@short_info_text: #a1a1a1;
@top-bar-grey: #282828;
@deep-blue: #2c3e65;
@grey-text: #dbdbdb;
@grey_deep_text: #808080;
@black-text: #535353;
@grey_shopnow: #979797;
@black: #000000;
@footer_title: #575757;
@footer_link:#a0a0a0;
@grey_91:#919191;

//font-family var
@mont: 'Montserrat', sans-serif;
@open: 'Open Sans', sans-serif;
@sour: 'Source Sans Pro', sans-serif;
@oxy: 'Oxygen', sans-serif;