// @white_color: #ffffff;
// @header_nav:#494949;
// @short_info_text: #a1a1a1;
// @top-bar-grey: #282828;
// @deep-blue: #2c3e65;
// @grey-text: #dbdbdb;
// @grey_deep_text: #808080;
// @black-text: #535353;
// @grey_shopnow: #979797;
// @black: #000000;
// @footer_title: #575757;
// @grey_91:#919191;

@import "basic.less";

.blog-detail {
    color: @header_nav;

    main {
        .post_cover {
            background-image: url("http://unsplash.it/1200/570");
            background-repeat: cover;
            width: 1200px;
            height: 570px;

        }
    }






    //media query 

    // iphone
    @media (max-width: 767.98px) {
        main {
            .articles {
                .blog_meta {
                    max-width: 270px;
                }
            }

            .sidebar {
                padding: 60px 0;
                text-align: center !important;

                hr {
                    margin: 0 auto !important;
                }

                .popular_post {
                    margin-bottom: 30px;

                    hr {
                        margin-bottom: 30px !important;
                    }
                }

                .post {
                    text-align: right;

                    .row {
                        justify-content: center;
                    }
                }

                .tag {
                    margin: 0 auto;
                }

            }

        }

        footer {

            .contact {
                text-align: center !important;
            }

        }
    }





    // ipad
    @media (max-width: 991.98px)and (min-width:768px) {
        .sidebar {
            padding: 60px 0;
            text-align: center !important;

            hr {
                margin: 0 auto !important;
            }

            .popular_post {
                margin-bottom: 30px;

                hr {
                    margin-bottom: 30px !important;
                }
            }

            .post {
                text-align: right;

                .row {
                    justify-content: center;
                }
            }

            .tag {
                margin: 0 auto;
            }

        }
    }



}