@white_color: #ffffff;
@short_info_text: #a1a1a1;
@top-bar-grey: #282828;
@deep-blue: #2c3e65;
@grey-text: #dbdbdb;
@black-text: #535353;
@grey_shopnow: #979797;
@black: #000000;
//font-family var
@mont: 'Montserrat', sans-serif;
@open: 'Open Sans', sans-serif;
@sour: 'Source Sans Pro', sans-serif;
// font-family: 'Source Sans Pro', sans-serif;
// font-family: 'Montserrat', sans-serif;
// font-family: 'Open Sans', sans-serif;

@media (max-width: 540px) {
    html {
        font-size: 12px;
    }
}

@media (max-width: 769px)and (min-width:541px) {
    html {
        font-size: 14px;

    }
}




// 以上為變數
body {
    font-family: 'Source Sans Pro', sans-serif;

    img {
        width: 100%;
        height: auto;

    }
}


.short_info {
    font-size: 1vmin;
    background-color: @top-bar-grey;

    .nav-item {


        color: @short_info_text;
        transition: all .5s ease;

        a {
            float: right;
            color: @short_info_text;


        }

        &:hover {
            background-color: #3f3e43;
        }
    }
}


header {



    #logo {

        margin: 2rem 0 1rem 0;
    }

    nav {
        font-family: 'Montserrat', sans-serif;

        float: right;

        li {
            margin: 1.5rem 0.1rem;
        }

        .nav-link {
            color: #a6a6a6;
            font-size: 0.9rem;

            &:hover {

                color: @white_color ;
            }
        }

        .search {
            i {
                font-size: 1.5rem;
            }
        }

        .shopping_cart {
            i {
                font-size: 1.5rem;
                margin-right: 1rem;
            }
        }
    }
}

.main_items {

    .row.top {
        padding-bottom: 19px;
    }

    .new_collection {
        .words {

            position: absolute;
            bottom: calc(79rem/16);
            left: 68px;
            color: @white_color;

            .tag {
                letter-spacing: 3px;
                background-color: #535353;
                font-size: 0.8rem;
            }

            .title {
                font-family: 'Montserrat', sans-serif;
                font-weight: 700;
                font-size: 3rem;
                margin-bottom: -10px;
            }

            .subtitle {

                font-size: 3rem;
                font-weight: 200;
                margin-bottom: -5px;

            }

            .description {
                font-size: 0.5rem;
            }

            .price {
                font-family: 'Montserrat', sans-serif;
                font-size: 1.5rem;
                letter-spacing: 1px;
            }
        }

    }

    .middle_item {
        color: @white_color;
        position: relative;

        .category {
            position: absolute;
            top: calc(29rem/16);
            left: calc(24rem/16);
            font-size: calc(14rem/16);
            letter-spacing: 2px;
            font-weight: 600;

        }

        h3 {
            position: absolute;
            top: calc(71rem/16);
            left: calc(25rem/16);
            font-family: @mont;
            font-size: calc(24rem/16);
        }

        .price {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            width: calc(120rem/16);
            height: calc(120rem/16);
            right: calc(31rem/16);
            bottom: calc(130rem/16);
            background-color: #62c5de;
            border-radius: 50%;
            text-align: center;
            font-family: @mont;
            margin: auto 0;

            p {
                font-size: calc(20rem/16);
                line-height: 1;
                margin-top: calc(10rem/16);
                font-weight: 500;
                top: 1px;

                span {
                    font-size: calc(14rem/16);
                    letter-spacing: 1px;
                    color: #9cd8e8;
                    text-decoration: line-through;
                }
            }


        }

        .shopnow_angle {
            position: absolute;
            left: calc(32rem/16);
            bottom: calc(10rem/16);
            font-family: @mont;

            a {
                color: @white_color;
                font-size: 0.8rem;
                letter-spacing: calc(0.5rem/16);

                &:hover {
                    text-decoration-line: none;
                }
            }



            i {
                padding: calc(6rem/16);
                margin: 10px;
                border: solid @white_color 1px;
                border-radius: 50%;
            }
        }
    }

    .bag {
        margin-bottom: calc(19rem/16);
        position: relative;

        .top_words {
            position: absolute;
            top: calc(14rem/16);
            right: calc(10rem/16);

            .title {
                color: #939393;
                font-weight: 700;
                font-family: @mont;
                font-size: calc(14rem/16);
                letter-spacing: 2px;
                text-align: right;
                line-height: 2;

            }

            .star {
                color: #c8a760;
                font-size: calc(13rem/16);
                text-align: right;

                .far {
                    color: #ededed;
                }
            }

        }

        .bottom_words {
            position: absolute;
            bottom: calc(25rem/16);
            right: calc(30rem/16);
            font-family: @mont;

            .price {
                color: #991015;
                font-size: calc(20rem/16);
                margin-bottom: 0;
                text-align: center;

            }

            .shopnow {
                font-size: calc(10rem/16);
                ;
                color: @white_color;
                background-color: #2e2d32;
                padding: 3px;

                &:hover {
                    text-decoration-line: none;
                }
            }
        }
    }

    .chair {
        font-family: @mont;
        position: relative;

        .description {
            font-size: calc(14rem/16);

            font-weight: 700;
            letter-spacing: 1px;
            line-height: 1.5;
            color: #2c3e66;
            position: absolute;
            top: calc(20rem/16);
            left: calc(20rem/16);
        }

        .bottom_words {
            &>div {
                text-align: left;
            }

            position: absolute;
            bottom: calc(64rem/16);
            left: calc(20rem/16);
            line-height: 1;

            .star {
                color: #c8a760;
                font-size: calc(10rem/16);


                .far {
                    color: #ededed;
                }
            }

            .price {
                color: #2c3e65;
                font-size: calc(20rem/16);
                margin-bottom: 0;

                span {
                    text-decoration-line: line-through;
                    font-size: calc(10rem/16);
                    color: #b3b3b3;
                }
            }


        }

        .shopnow_angle {
            position: absolute;
            bottom: calc(20rem/16);
            left: calc(20rem/16);

            &:hover {
                text-decoration-line: none;
            }

            a {
                color: @deep-blue;
                font-size: calc(10rem/16);
                font-weight: 600;

                &:hover {
                    text-decoration-line: none;
                }

                i {
                    padding: calc(6rem/16);
                    margin: calc(5rem/16);
                    border: solid @deep-blue 1px;
                    border-radius: 50%;
                }
            }
        }

    }



    .row.bottom {
        font-family: @mont;
        align-content: stretch;

        .top {


            margin-bottom: calc(22rem/16);
            position: relative;
            color: @white_color;
            font-size: calc(14rem/16);

            .words {
                text-align: right;
                position: absolute;
                top: calc(30rem/16);
                right: calc(40rem/16);
                line-height: 0.5;

                .title {
                    font-size: calc(18rem/16);
                    ;
                }

                .category {
                    font-size: calc(8rem/16);
                    ;
                }

            }

            .shopnow_angle {
                position: absolute;
                right: calc(30rem/16);
                bottom: calc(10rem/16);
                font-family: @mont;

                a {
                    color: @white_color;
                    font-size: 0.8rem;
                    letter-spacing: calc(0.5rem/16);

                    &:hover {
                        text-decoration-line: none;
                    }
                }



                i {
                    padding: calc(6rem/16);
                    margin: 10px;
                    border: solid @white_color 1px;
                    border-radius: 50%;

                }
            }

        }

        .bottom {
            position: relative;


            .words {
                text-align: right;
                position: absolute;
                top: calc(30rem/16);
                right: calc(40rem/16);
                line-height: 0.5;

                .title {
                    font-size: calc(18rem/16);
                    color: @black-text;

                }

                .category {
                    font-size: calc(8rem/16);
                    color: @grey-text;

                }
            }

            .shopnow_angle {
                position: absolute;
                right: calc(30rem/16);
                bottom: calc(10rem/16);
                font-family: @mont;

                a {
                    color: @grey_shopnow;
                    font-size: 0.8rem;
                    letter-spacing: calc(0.5rem/16);

                    &:hover {
                        text-decoration-line: none;
                    }
                }



                i {
                    padding: calc(6rem/16);
                    margin: 10px;
                    border: solid @grey_shopnow 1px;
                    border-radius: 50%;
                }
            }
        }

        .big_item {
            position: relative;
            color: @black-text;
            font-family: @sour;

            .words {
                text-align: left;
                position: absolute;
                top: calc(50rem/16);
                left: calc(40rem/16);
                line-height: 1;

                .title {
                    font-size: calc(50rem/16);


                }

                .tag {
                    font-size: calc(8rem/16);


                }
            }
        }

    }



}

.feature_bar {
    padding-bottom: calc(60rem/16);
    ;

    .control_bar {
        padding-top: calc(42rem/16);

        padding-bottom: calc(20rem/16);


        .feature {
            color: #838182;
            padding-left: 0;

            &::after {
                content: "|";
                margin-left: 20px;

            }


        }

        .latest {
            color: #838182;

            &::after {
                content: "|";
                margin-left: 20px;
            }
        }

        .best_seller_bt {
            color: #838182;

        }

        .feature_bt {
            background-color: #eee;
            border-radius: 20px;
            padding: 4px 5px;

            .fas {
                color: #e6e6e6;
                background-color: @white_color;
                padding: 8px;
                border-radius: 50%;
            }
        }
    }

    .moving_products {
        position: relative;
        padding-bottom: calc(73rem/16);
        ;

        .words {
            text-align: left;

            .star {
                text-align: left;
                color: #c8a760;
                font-size: calc(13rem/16);

                .far {
                    color: #ededed;
                }
            }

            .title {
                font-size: calc(10rem/16);
                color: #808080;

            }

            .price {
                color: @deep-blue;
                font-size: calc(12rem/16);
                line-height: 1;
                font-weight: 700;

            }

            .discount {
                position: absolute;
                top: calc(45rem/16);
                left: calc(15rem/16);
                background-color: #b2cc29;
                padding: 0 5px;
            }
        }
    }


    .still_products {
        margin-bottom: calc(22rem/16);
        position: relative;
        color: @deep-blue;
        font-size: calc(14rem/16);

        .words {
            text-align: left;
            position: absolute;
            top: calc(30rem/16);
            left: calc(40rem/16);
            line-height: 0.5;

            .title {
                font-size: calc(18rem/16);
                ;
            }

            .description {
                font-size: calc(8rem/16);
                ;
            }

        }

        .shopnow_angle {
            position: absolute;
            left: calc(30rem/16);
            bottom: calc(10rem/16);
            font-family: @mont;

            a {
                color: @grey_shopnow;
                font-size: calc(4rem/16);
                letter-spacing: calc(0.5rem/16);

                &:hover {
                    text-decoration-line: none;
                }
            }



            i {
                padding: calc(6rem/16);
                margin: 10px;
                border: solid @grey_shopnow 1px;
                border-radius: 50%;

            }
        }



    }

}

.best_seller {
    transition: all .5s ease;
    position: relative;
    padding-bottom: calc(30rem/16);

        .cover {
            opacity: 0;
            position: absolute;
            bottom: calc(30rem/16);
        }

        &:hover {
            img {
                opacity: .5;
            }
            .cover {
                opacity: 1;
            }
        }


    .control_bar {
        padding-bottom: calc(16rem/16);

        .title {
            font-family: @mont;
            font-size: calc(16rem/16);
            font-weight: 700;
        }

        .feature_bt {

            background-color: #eee;
            border-radius: 20px;
            padding: 4px 5px;

            .fas {
                color: #e6e6e6;
                background-color: @white_color;
                padding: 8px;
                border-radius: 50%;
            }
        }
    }

    .best_1 {
        position: relative;

        .new {
            font-size: calc(10rem/16);
            ;
            font-family: @mont;
            color: @white_color;
            background-color: @black;
            position: absolute;
            top: calc(45rem/16);
            left: calc(0rem/16);
            padding: 3px 5px;
        }

        .star {
            position: absolute;
            bottom: calc(57rem/16);
            left: calc(22rem/16);
            text-align: left;
            color: #c8a760;
            font-size: calc(13rem/16);

            .far {
                color: #ededed;
            }
        }
    }

    .best_4 {
        position: relative;

        .discount {
            position: absolute;
            font-size: calc(10rem/16);
            ;
            top: calc(45rem/16);
            left: calc(0rem/16);
            background-color: #b2cc29;
            padding: 0 5px;
        }

        .new {
            font-size: calc(10rem/16);
            ;
            font-family: @mont;
            color: @white_color;
            background-color: @black;
            position: absolute;
            top: calc(66rem/16);
            left: calc(0rem/16);
            padding: 3px 5px;
        }

    }




    .words {
        text-align: left;

        .title {
            font-weight: 600;
            font-size: calc(10rem/16);
            color: #808080;
            margin-bottom: 0;
            margin-top: 10px;

        }

        .price {
            color: @deep-blue;
            font-size: calc(12rem/16);
            line-height: 1;
            font-weight: 700;
        }
    }    
        

    
}




.tag {
    left: 0;
    top: 10%;
}